<% set_page_title(title_with_error_prefix(t('page_titles.make_changes_live_form'), @make_live_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_path, t("back_link.form_edit")) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @make_live_form, url: make_live_create_path) do |f| %>
      <% if @make_live_form&.errors&.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @make_live_form.form.name %></span>
        <%= t("page_titles.make_changes_live_form") %>
      </h1>

      <p>
        <%= t("make_changes_live.warning") %>
      </p>

      <p>
        <%= t("make_changes_live.url_will_remain_same") %>
      </p>

      <%= f.govuk_collection_radio_buttons :confirm_make_live,
                                           @make_live_form.values, ->(option) { option }, ->(option) { t('helpers.label.forms_make_live_form.options.' + "#{option}") },
                                           legend: { text: t('helpers.label.forms_make_changes_live_form.confirm_make_live'),
                                                     size: 'm'}, inline: true %>
      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
