<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h<%= heading_level %> class="app-summary-card__title govuk-!-font-weight-bold">
      <%= title %>
      <% if hint.present? %>
        <div class="govuk-!-font-weight-regular">
          <%= hint %>
        </div>
      <% end %>
    </h<%= heading_level %>>

    <% if header_actions %>
      <div class="app-summary-card__actions">
        <%= header_actions %>
      </div>
    <% end %>
  </header>
  <div class="app-summary-card__body">
    <%= render GovukComponent::SummaryListComponent.new(actions: false) do |summary_list| %>
      <% summary_rows.each do |summary_row| %>
        <% summary_list.row(html_attributes: { id: row_title(summary_row[:key]) }, classes: row_title(summary_row[:key])) do |row|
          row.key(text: summary_row[:key])
          row.value(text: summary_row[:value])
        end %>
      <% end %>
    <% end %>
  </div>
</section>
