<% set_page_title(title_with_error_prefix(t("page_titles.what_happens_next_form"), @what_happens_next_form.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@what_happens_next_form.form), t("back_link.form_create")) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @what_happens_next_form, url: what_happens_next_create_path(@what_happens_next_form.form)) do |f| %>
      <% if @what_happens_next_form&.errors&.present? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @what_happens_next_form.form.name %></span>
        <%= t("page_titles.what_happens_next_form") %>
      </h1>

      <p>Add some information to tell people what will happen after they've submitted their form, and when - so they know what to expect.</p>

      <h2 class="govuk-heading-s">Example</h2>

      <%= govuk_inset_text do %>
        We’ll send you an email to let you know the outcome. You’ll usually get a response within 10 working days.
      <% end %>

      <% if FeatureService.enabled?(:email_confirmations_enabled) %>
        <p class="govuk-!-margin-bottom-6">
      <p> This content will be:
        <ul> 
          <li> shown to people when they've completed and submitted a form
          <li> included in an email confirmation, if they choose to receive this
        </ul>
      </p>

      <p>
      The optional email confirmation will also include the contact details you provide for the form, and the date and time of submission. It will not include a copy of their answers.
      </p>
      <% end %>

      <%= f.govuk_text_area :what_happens_next_text, max_chars: 2000, label: {size: 'm' } %>

      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
