<% set_page_title(t(".title")) %>
<% content_for :back_link, govuk_back_link_to(@group, t("back_link.group", group_name: @group.name)) %>

<h1 id="heading" class="govuk-heading-l">
  <span class="govuk-caption-l"><%= @group.name %></span>
  <span class="govuk-visually-hidden"> - </span>
  <%= t(".title") %>
</h1>

<% if @group.memberships.empty? %>
  <p class="govuk-body"><%= t(".no_members") %></p>
<% else %>
  <%= govuk_table do |table| %>
    <%= table.with_head do |head|
      head.with_row do |row|
        row.with_cell(text: t(".table_headings.name"))
        row.with_cell(text: t(".table_headings.email"))
        row.with_cell(text: t(".table_headings.role"))
        if show_actions
          row.with_cell(text: t(".table_headings.actions"))
        end
      end
    end %>

    <%= table.with_body do |body| %>
      <% @group.memberships.each do |membership| %>
        <%= body.with_row do |row| %>
          <%= row.with_cell { membership.user.name } %>
          <%= row.with_cell { membership.user.email } %>
          <%= row.with_cell { t("group_members.index.roles.#{membership.role}.name") } %>
          <% if show_actions %>
            <%= row.with_cell do %>

              <% if Pundit.policy(@current_user, membership).destroy? %>
                <%= govuk_button_to(t(".remove_member"), membership_path(membership), method: :delete, secondary: true) %>
              <% end %>

              <% if Pundit.policy(@current_user, membership).update? && !membership.group_admin? %>
                <%= govuk_button_to(t(".make_group_admin"), membership_path(membership), method: :patch, params: { membership: { role: Membership.roles[:group_admin] }}, secondary: true) %>
              <% end %>

              <% if Pundit.policy(@current_user, membership).update? && !membership.editor? %>
                <%= govuk_button_to(t(".make_editor"), membership_path(membership), method: :patch, params: { membership: { role: Membership.roles[:editor] }}, secondary: true) %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
<% end %>

<% if Pundit.policy(@current_user, @group).edit? %>
  <%= govuk_link_to(t(".add_member"), new_group_member_path(@group), class: "govuk-button") %>
<% end %>

<div class="govuk-!-margin-top-3">
  <%= govuk_details(summary_text: t(".details.summary_text")) do %>
    <%= t(".details.summary_content_html") %>
  <% end %>
</div>
