<% if show_role_options %>
  <% set_page_title(t(".title_show_role_options")) %>
<% else %>
  <% set_page_title(t(".title")) %>
<% end %>
<% content_for :back_link, govuk_back_link_to(group_members_path(@group)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(model: @group_member_input, url: group_members_path(@group)) do |f| %>
      <% if @group_member_input&.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 id="heading" class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @group.name %></span>
        <span class="govuk-visually-hidden"> - </span>
        <% if show_role_options %>
          <%= t(".title_show_role_options") %>
        <% else %>
          <%= t(".title") %>
        <% end %>
      </h1>

      <%= t(".body_html") %>

      <%= f.govuk_text_field :member_email_address, label: {  tag: 'h2', size: 'm' } %>

      <% if show_role_options %>
        <%= f.govuk_collection_radio_buttons(
              :role,
              Membership.roles.keys.sort,
              ->(option) { option },
              ->(option) { t("helpers.label.group_member_input.roles.#{option}.name") },
              ->(option) { t("helpers.label.group_member_input.roles.#{option}.description") },
              legend: { text: t('helpers.label.group_member_input.role'), size: 'm', tag: 'h2' },
            )  %>
      <% end %>
      <%= f.govuk_submit t(".submit") %>
    <% end %>
  </div>
</div>
