<p>
  <%=t("account.terms_of_use.summary.first_published")%>
  <br/>
  <%=t("account.terms_of_use.summary.last_updated")%>
</p>
<p>
  <%=t("account.terms_of_use.summary.section_1")%>
</p>
<p>
  <%=t("account.terms_of_use.summary.section_2")%>
</p>
<p>
  <%=t("account.terms_of_use.summary.section_3")%>
</p>
<h2 class="govuk-heading-m">
  <%=t("account.terms_of_use.security.heading")%>
</h2>
<p>
  <%=t("account.terms_of_use.security.summary.section_1")%>
</p>
<p>
  <%=t("account.terms_of_use.security.summary.section_2")%>
</p>

<h3 class="govuk-heading-s">
  <%=t("account.terms_of_use.security.accessing_the_platform.heading")%>
</h3>
<p>
  <%=t("account.terms_of_use.security.accessing_the_platform.requirements.preamble")%>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <%=t("account.terms_of_use.security.accessing_the_platform.requirements.list_item_1")%>
  </li>
  <li>
    <%=t("account.terms_of_use.security.accessing_the_platform.requirements.list_item_2")%>
  </li>
  <li>
    <%=t("account.terms_of_use.security.accessing_the_platform.requirements.list_item_3")%>
  </li>
</ul>

<h3 class="govuk-heading-s">
  <%=t("account.terms_of_use.security.receiving_completed_form_data.heading")%>
</h3>
<p>
  <%=t("account.terms_of_use.security.receiving_completed_form_data.section_1", securing_government_email_link: link_to(t("account.terms_of_use.security.receiving_completed_form_data.section_1_link_text"), "https://www.gov.uk/guidance/securing-government-email")).html_safe%>
</p>
<p>
  <%=t("account.terms_of_use.security.receiving_completed_form_data.section_2")%>
</p>
<p>
  <%=t("account.terms_of_use.security.receiving_completed_form_data.section_3")%>
</p>

<h3 class="govuk-heading-s">
  <%=t("account.terms_of_use.security.report_any_security_breaches.heading")%>
</h3>
<p>
  <%=t("account.terms_of_use.security.report_any_security_breaches.section_1")%>
</p>

<h2 class="govuk-heading-m">
  <%=t("account.terms_of_use.data_protection.heading")%>
</h2>
<p>
  <%=t("account.terms_of_use.data_protection.section_1")%>
</p>
<p>
  <%=t("account.terms_of_use.data_protection.section_2")%>
</p>
<p>
  <%=t("account.terms_of_use.data_protection.section_3")%>
</p>

<h2 class="govuk-heading-m">
  <%=t("account.terms_of_use.accessibility.heading")%>
</h2>
<p>
  <%=t("account.terms_of_use.accessibility.section_1")%>
</p>
<p>
  <%=t("account.terms_of_use.accessibility.section_2")%>
</p>
<p>
  <%=t("account.terms_of_use.accessibility.section_3", good_forms_link: link_to(t("account.terms_of_use.accessibility.section_3_link_text"), "https://www.forms.service.gov.uk/create-good-forms")).html_safe%>
</p>
<p>
  <%=t("account.terms_of_use.accessibility.publishing.preamble")%>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <%=t("account.terms_of_use.accessibility.publishing.list_item_1")%>
  </li>
  <li>
    <%=t("account.terms_of_use.accessibility.publishing.list_item_2")%>
  </li>
</ul>

<h2 class="govuk-heading-m">
  <%=t("account.terms_of_use.service_standards.heading")%>
</h2>
<p>
  <%=t("account.terms_of_use.service_standards.section_1")%>
</p>
<p>
  <%=t("account.terms_of_use.service_standards.section_2", service_standard_link: link_to(t("account.terms_of_use.service_standards.section_2_link_text"), "https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard")).html_safe%>
</p>
<p>
  <%=t("account.terms_of_use.service_standards.section_3")%>
</p>

<h2 class="govuk-heading-m">
  <%=t("account.terms_of_use.changes.heading")%>
</h2>
<p>
  <%=t("account.terms_of_use.changes.section_1")%>
</p>
