<% set_page_title(t('page_titles.group_confirm_upgrade_request')) %>

<% content_for :back_link, govuk_back_link_to(@group, t("back_link.group", group_name: @group.name)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: request_upgrade_group_path(@group), method: 'POST') do |form| %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @group.name %></span>
        <%= t('page_titles.group_confirm_upgrade_request') %>
      </h1>

      <%= t("groups.confirm_upgrade_request.body_html")%>

      <%= govuk_inset_text do %>
        <%= t("groups.confirm_upgrade_request.inset_text") %>
      <% end %>

      <%= form.govuk_submit t("groups.confirm_upgrade_request.send_request_to_upgrade") %>
    <% end%>
  </div>
</div>
