<% set_page_title(t("page_titles.group_index")) %>

<% if @upgrade_requested_groups.present? && (@current_user.organisation_admin? || @current_user.super_admin?)  %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_notification_banner(title_text: t("banner.default.title")) do |banner| %>
        <% banner.with_heading(text: t("groups.index.upgrade_requests_banner_heading", count: @upgrade_requested_groups.length)) %>
      <% end %>
    </div>
  </div>
<% elsif @current_user.standard? && !@current_user.current_org_has_mou? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_notification_banner(title_text: t("banner.default.title")) do |banner| %>
        <% banner.with_heading(text: t("groups.index.no_mou_banner.heading"), tag: "h3") %>
        <% t("groups.index.no_mou_banner.body_html", contact_link: contact_link) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <%= t("page_titles.group_index") %>
    </h1>

    <% if @current_user.super_admin? %>
      <div class="govuk-!-margin-bottom-4">
        <%= form_with(model: @search_input, scope: :search, url: groups_path, method: 'get', local: true) do |f| %>
          <%= render DfE::Autocomplete::View.new(
            f,
            attribute_name: :organisation_id,
            form_field: f.govuk_collection_select(:organisation_id,
                                                  Organisation.with_users.order(:name),
                                                  :id,
                                                  :name_with_abbreviation,
                                                  class: ['govuk-!-width-three-quarters'],
                                                  options: { prompt: t('groups.index.organisation_search.prompt') },
                                                  label: { text: t('groups.index.organisation_search.label', organisation_name: @search_input.organisation.name), size: 'm', tag: 'h2' },
                                                  hint: { text: t('groups.index.organisation_search.hint') },
                                                  ),
            html_attributes: { 'data-show-all-values' => 'true'},
            )%>
          <%= f.govuk_submit(t("home.change_filter"), secondary: true) %>
        <% end %>
      </div>
    <% end %>

    <%= render GroupListComponent::View.new(groups: @upgrade_requested_groups, title: t('groups.index.upgrade_requests_title'), show_empty: false) %>
    <%= render GroupListComponent::View.new(groups: @active_groups, title: t('groups.index.active_title'), empty_message: t('groups.index.active_empty_message')) %>
    <%= render GroupListComponent::View.new(groups: @trial_groups, title: t('groups.index.trial_title'), empty_message: t('groups.index.trial_empty_message')) %>

    <%= govuk_button_link_to t("groups.index.create_group"), new_group_path, class:"govuk-!-margin-top-3" %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_details(summary_text: t("groups.index.group_explainer_title")) do
      if @current_user.organisation_admin? || @current_user.super_admin?
        t("groups.index.group_explainer_org_admin_body_html")
      else
        t("groups.index.group_explainer_body_html")
      end
    end %>
  </div>
</div>

<%= init_autocomplete_script(show_all_values: true, raw_attribute: false, source: false) %>
