<% set_page_title(@group.name) %>
<% content_for :back_link, govuk_back_link_to(groups_path, t("back_link.groups")) %>

<% unless @group.active? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_notification_banner(title_text: t("banner.default.title")) do |nb| %>
        <% if @group.organisation.mou_signatures.present? %>
          <% if policy(@group).review_upgrade? %>
            <% nb.with_heading(text: t("groups.show.trial_banner.review_upgrade.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.review_upgrade.body_html", upgrade_requester_name: @group.upgrade_requester.name) %>
            <%= govuk_link_to t("groups.show.trial_banner.review_upgrade.link"), review_upgrade_group_path(@group) %>
          <% elsif policy(@group).upgrade? %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.upgrade.body_html") %>
            <%= govuk_link_to t("groups.show.trial_banner.upgrade.link"), upgrade_group_path(@group) %>
          <% elsif policy(@group).request_upgrade? %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.request_upgrade.body_html") %>
            <%= govuk_link_to t("groups.show.trial_banner.request_upgrade.link"), request_upgrade_group_path(@group) %>
          <% elsif @group.memberships.find_by(user: @current_user)&.group_admin? && !@group.organisation.admin_users.present? %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.request_upgrade.body_html") %>
            <%= t("groups.show.trial_banner.request_upgrade.without_org_admin_html", contact_link: contact_link) %>
          <% else %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.editor.body_html") %>
          <% end %>
        <% else %>
          <% if @current_user.super_admin? %>
            <% nb.with_heading(text: t("groups.index.no_mou_banner.heading"), tag: "h3") %>
            <%= t("groups.index.no_mou_banner.body_html", contact_link: contact_link) %>
          <% elsif policy(@group).request_upgrade? %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.request_upgrade.body_html") %>
            <%= t("groups.show.trial_banner.request_upgrade.without_mou_signature_html", contact_link: contact_link) %>
          <% else %>
            <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
            <%= t("groups.show.trial_banner.editor.body_html") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render @group %>

<ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-5">
  <% if policy(@group).edit? %>
    <li><%= govuk_link_to(t(".edit_group_name"), edit_group_path(@group)) %></li>
    <li><%= govuk_link_to(t(".edit_group_members"), group_members_path(@group)) %></li>
  <% else %>
    <li><%= govuk_link_to(t(".review_group_members"), group_members_path(@group)) %></li>
  <% end %>
</ul>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_group_form_path(@group)) %>

<% if @forms.any? %>
  <%= govuk_table(**FormListService.call(forms: @forms, group: @group).data) %>
<% end %>
