<% set_page_title(@group.name) %>
<% content_for :back_link, govuk_back_link_to(groups_path, t("back_link.groups")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @group.trial? %>
      <%= govuk_notification_banner(title_text: t("groups.show.trial_banner.title")) do |nb| %>
        <% nb.with_heading(text: t("groups.show.trial_banner.heading"), tag: "h3") %>
        <%= t("groups.show.trial_banner.body_html") %>
        <% if policy(@group).upgrade? %>
          <%= govuk_link_to t("groups.show.trial_banner.upgrade_group"), upgrade_group_path(@group) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render @group %>

<ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-5">
  <% if policy(@group).edit? %>
    <li><%= govuk_link_to(t(".edit_group_name"), edit_group_path(@group)) %></li>
    <li><%= govuk_link_to(t(".edit_group_members"), group_members_path(@group)) %></li>
  <% else %>
    <li><%= govuk_link_to(t(".review_group_members"), group_members_path(@group)) %></li>
  <% end %>
</ul>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_group_form_path(@group)) %>

<% if @forms.any? %>
  <%= govuk_table(**FormListService.call(forms: @forms, current_user: @current_user, group: @group).data) %>
<% end %>
