<% set_page_title(t("users.index.title")) %>

<h1 class="govuk-heading-l"><%= t("users.index.title") %></h1>

<div class="app-filter govuk-grid-row">
  <%= form_with(model: @filter_input, scope: :filter, url: users_path, method: 'get', local: true, class: 'govuk-clearfix') do |f| %>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_text_field :name,
        label: { text: t('users.index.filter.name.label'), size: 's' },
        hint: { text: t('users.index.filter.name.hint') } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_text_field :email,
        label: { text: t('users.index.filter.email.label'), size: 's' },
        hint: { text: t('users.index.filter.email.hint') } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render DfE::Autocomplete::View.new(
        f,
        attribute_name: :organisation_id,
        form_field: f.govuk_collection_select(:organisation_id,
          Organisation.with_users.order(:name),
          :id,
          :name_with_abbreviation,
          options: { prompt: t('users.index.filter.organisation.search_prompt') },
          label: { text: t('users.index.filter.organisation.label'), size: 's' },
          hint: { text: t('users.index.filter.organisation.hint') },
        ),
      ) %>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-button-group">
        <%= f.govuk_submit(t("users.index.filter.submit")) %>
        <% if @filter_input.has_filters? %>
          <%= govuk_link_to t('users.index.filter.clear_filter'), users_path, no_visited_state: true %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @users.any? %>
  <%= govuk_pagination(pagy: @pagy) %>

  <%= render ScrollingWrapperComponent::View.new(aria_label: t("users.index.wrapper_aria_label")) do |table| %>

    <%= govuk_table do |table| %>
      <%= table.with_head do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: t("users.index.table_headings.name"))
          row.with_cell(header: true, text: t("users.index.table_headings.email"))
          row.with_cell(header: true, text: t("users.index.table_headings.organisation"))
          row.with_cell(header: true, text: t("users.index.table_headings.role"))
          row.with_cell(header: true, text: t("users.index.table_headings.access"))
          row.with_cell(header: true, text: t("users.index.table_headings.act_as_user"), width: "govuk-!-width-one-quarter") if Settings.act_as_user_enabled
        end
      end %>

      <%= table.with_body do |body|
        @users.each do |user|
          body.with_row do |row|
            row.with_cell(text: user.name || t("users.index.name_blank"))
            row.with_cell do
              govuk_link_to(user.email, edit_user_path(user))
            end
            row.with_cell(text: user.organisation&.name || t("users.index.organisation_blank"))
            row.with_cell(text: t("users.roles.#{user.role}.name"))
            row.with_cell(text: t("users.has_access.#{user.has_access}.name"))
            row.with_cell do
              govuk_button_to(t("users.act_as_user_html", user_email: user.email), act_as_user_start_path(user.id), method: :post, secondary: true) unless user.super_admin? || !user.has_access?
            end if Settings.act_as_user_enabled
          end
        end
      end %>
    <% end %>

  <% end %>

  <%= govuk_pagination(pagy: @pagy) %>
<% end %>

<%= init_autocomplete_script(show_all_values: true, raw_attribute: true, source: false) %>
