<% set_page_title(title_with_error_prefix(t('page_titles.set_email_form'), @submission_email_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@submission_email_form.form), I18n.t("back_link.form_create")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @submission_email_form, url: submission_email_form_path) do |f| %>
      <% if @submission_email_form&.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @submission_email_form.form.name %></span>
        <%= t("page_titles.set_email_form") %>
      </h1>

      <%= t("set_email_form.new.body_html") %>
      <%= f.hidden_field :notify_response_id, id: 'notification-id' %>
      <%= f.govuk_text_field :temporary_submission_email, label: {  tag: 'h2', size: 'm' } %>
      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
