<% set_page_title(title_with_error_prefix(t('page_titles.copy'), @copy_input.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path, t("back_link.form_create")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @copy_input, url: copy_form_path) do |f| %>
      <% if @copy_input&.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>
      <%= f.govuk_text_field :name,
          value: "Copy of #{@copy_input.name}",
          label: {  tag: 'h1', size: 'l', text: t("helpers.label.copy") },
          hint: { text: t("helpers.hint.copy") }
      %>
      <%= f.hidden_field :tag %>
      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
