<% set_page_title(title_with_error_prefix(t('page_titles.payment_link'), @payment_link_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_path, t("back_link.form_create")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with(model: @payment_link_input, url: payment_link_path) do |f| %>
      <% if @payment_link_input&.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <span class="govuk-caption-l"><%= @payment_link_input.form.name %></span>
      <h1 class="govuk-heading-l">
        <%= t('payment_link_input.heading') %>
      </h1>

      <%= t('payment_link_input.body_html') %>

      <h2 class="govuk-heading-m">
        <%= t('payment_link_input.setting_up_govuk_pay.heading') %>
      </h2>

      <%= t('payment_link_input.setting_up_govuk_pay.body_html') %>

      <h2 class="govuk-heading-m">
        <%= t('payment_link_input.creating_your_payment_link.heading') %>
      </h2>

      <p><%= t('payment_link_input.creating_your_payment_link.body') %></p>

      <h3 class="govuk-heading-s"><%= t('payment_link_input.set_up_your_payment_link.heading') %></h3>

      <%= t('payment_link_input.set_up_your_payment_link.body_html') %>

      <h3 class="govuk-heading-s"><%= t('payment_link_input.how_this_will_help_processors.heading') %></h3>

      <%= t('payment_link_input.how_this_will_help_processors.body_html') %>

      <h2 class="govuk-heading-m">
        <%= t('payment_link_input.how_this_will_work.heading') %>
      </h2>

      <%= t('payment_link_input.how_this_will_work.body_html') %>

      <%= f.govuk_text_field :payment_url, label: {  size: 'm' }, spellcheck: "false"  %>
      <%= f.govuk_submit t('payment_link_input.submit_button') %>
    <% end %>
  </div>
</div>
