<% set_page_title(t("page_titles.home")) %>
<h1 class="govuk-heading-l"><%= t("home.main_heading") %></h1>

<% if flash[:message] %>
  <p class="govuk-body">
    <%= flash[:message] %>
  </p>
<% end %>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_form_path) %>

<% if @forms.any? %>
  <%= govuk_table do |table| %>
    <%= table.caption(size: 'm', text: t("home.your_forms")) %>

    <%= table.head do |head|
       head.row do |row|
        row.cell(header: true, text: t("home.form_name_heading"), width: "full")
        row.cell(header: true, text: t("home.form_status_heading"), numeric: true)
      end
    end %>

    <%= table.body do |body|
      @forms.each do |form|
        body.row do |row|
          row.cell do
            govuk_link_to(form.name, form_path(form.id))
          end
          row.cell(numeric: true) do
            render FormStatusTagComponent::View.new(status: form.status)
          end
        end
      end
    end %>

  <% end %>


<% end %>
