<% set_page_title(t("page_titles.home")) %>
<h1 class="govuk-heading-l"><%= t("home.main_heading") %></h1>

<% if flash[:message] %>
  <p class="govuk-body">
    <%= flash[:message] %>
  </p>
<% end %>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_form_path) %>

<% if @forms.any? %>
  <h2 class="govuk-heading-m"><%= t("home.your_forms") %></h2>

  <%= govuk_summary_list do |summary_list|
    @forms.each do |form|
      summary_list.row do |row|
        row.key { form.name }
        row.action(text: t("home.edit"), href: form_path(form.id), visually_hidden_text: form.name )
        row.action(text: t("home.preview"), href: "#{ENV['RUNNER_BASE']}/form/#{form.id}", visually_hidden_text: ": #{form.name}")
      end
    end
  end %>
<% end %>
