<% set_page_title(title_with_error_prefix(t('page_titles.welsh_translation'), @welsh_translation_input.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@welsh_translation_input.form), t("back_link.form_create")) %>

<%= form_with(model: @welsh_translation_input, url: welsh_translation_create_path(@welsh_translation_input.form)) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @welsh_translation_input&.errors&.present? %>
        <%= f.govuk_error_summary(presenter: ErrorSummaryPresenter.new(@welsh_translation_input.errors)) %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @welsh_translation_input.form.name %></span>
        <%= t("page_titles.welsh_translation") %>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= govuk_table(classes: ["govuk-!-margin-bottom-9", "app-form-field-table", "app-form-field-table--two-column"]) do |table| %>
        <%= table.with_caption(size: 'm', text: t(".section_headings.form_name"))
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
            row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
          end
        end %>

        <%= table.with_body do |body|
          body.with_row do |row|
            row.with_cell(text: @welsh_translation_input.form.name, classes: "govuk-!-text-break-word")
            row.with_cell do
              f.govuk_text_field :name_cy
            end
          end
        end %>
      <% end %>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.page_translations.any? %>
          <% @welsh_translation_input.page_translations.each_with_index do |page_translation, index| %>
            <%= f.fields_for :page_translations, page_translation, index: index do |page_translation_fields| %>
              <%= page_translation_fields.hidden_field :id, value: page_translation.id, readonly: true %>

              <%= govuk_table(classes: ["govuk-!-margin-bottom-9", "app-form-field-table"]) do |table| %>
                <%= table.with_caption(size: 'm', text: t("forms.welsh_translation.new.question_number", question_number: page_translation.page.position)) %>
                <%= table.with_head do |head| %>
                  <%= head.with_row do |row| %>
                    <%= row.with_cell(header: true, text: nil) %>
                    <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header")) %>
                    <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header")) %>
                  <% end %>
                <% end %>

                <%= table.with_body do |body| %>
                  <%= body.with_row do |row| %>
                    <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.question_text")) %>
                    <%= row.with_cell(text: page_translation.page.question_text, classes: "govuk-!-text-break-word") %>
                    <%= row.with_cell do |cell| %>
                      <%= page_translation_fields.govuk_text_field :question_text_cy,
                                                               id: page_translation.form_field_id(:question_text_cy),
                                                               label: {text: t("forms.welsh_translation.new.page_labels.question_text_cy",question_number: page_translation.page.position), for: page_translation.form_field_id(:question_text_cy)}
                                                               %>
                    <% end %>
                  <% end %>
                  <% if page_translation.page_has_hint_text? %>
                    <%= body.with_row do |row| %>
                      <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.hint_text")) %>
                      <%= row.with_cell(text: page_translation.page.hint_text, classes: "govuk-!-text-break-word") %>
                      <%= row.with_cell do |cell| %>
                        <%= page_translation_fields.govuk_text_area :hint_text_cy,
                                                                id: page_translation.form_field_id(:hint_text_cy),
                                                                label: {text: t("forms.welsh_translation.new.page_labels.hint_text_cy",question_number: page_translation.page.position), for: page_translation.form_field_id(:hint_text_cy)}
                                                                %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if page_translation.page_has_page_heading_and_guidance_markdown? %>
                    <%= body.with_row do |row| %>
                      <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.page_heading")) %>
                      <%= row.with_cell(text: page_translation.page.page_heading, classes: "govuk-!-text-break-word") %>
                      <%= row.with_cell do |cell| %>
                        <%= page_translation_fields.govuk_text_field :page_heading_cy,
                                                                 id: page_translation.form_field_id(:page_heading_cy),
                                                                 label: {text: t("forms.welsh_translation.new.page_labels.page_heading_cy",question_number: page_translation.page.position), for: page_translation.form_field_id(:page_heading_cy)}
                                                                 %>
                      <% end %>
                    <% end %>
                    <%= body.with_row do |row| %>
                      <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.guidance_markdown")) %>
                      <%= row.with_cell(text: page_translation.page.guidance_markdown, classes: "govuk-!-text-break-word") %>
                      <%= row.with_cell do |cell| %>
                        <%= page_translation_fields.govuk_text_area :guidance_markdown_cy,
                                                                id: page_translation.form_field_id(:guidance_markdown_cy),
                                                                label: {text: t("forms.welsh_translation.new.page_labels.guidance_markdown_cy",question_number: page_translation.page.position), for: page_translation.form_field_id(:guidance_markdown_cy)}
                                                                %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <% if page_translation.condition_translations.present? %>
              <% page_translation.condition_translations.each_with_index do |condition_translation, index| %>
                <% if condition_translation.condition_has_exit_page? %>
                  <%= f.fields_for :condition_translations, condition_translation, index: index do |condition_translation_fields| %>
                    <%= condition_translation_fields.hidden_field :id, value: condition_translation.id, readonly: true %>

                    <%= govuk_table(classes: ["govuk-!-margin-bottom-9", "app-form-field-table"]) do |table| %>
                      <%= table.with_caption(size: 'm', text: t("forms.welsh_translation.new.condition.heading", question_number: page_translation.page.position)) %>
                      <%= table.with_head do |head| %>
                        <%= head.with_row do |row| %>
                          <%= row.with_cell(header: true, text: nil) %>
                          <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header")) %>
                          <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header")) %>
                        <% end %>
                      <% end %>

                      <%= table.with_body do |body| %>
                        <%= body.with_row do |row| %>
                          <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.exit_page_heading")) %>
                          <%= row.with_cell(text: condition_translation.condition.exit_page_heading, classes: "govuk-!-text-break-word") %>
                          <%= row.with_cell do |cell| %>
                            <%= condition_translation_fields.govuk_text_field :exit_page_heading_cy,
                                                               id: condition_translation.form_field_id(:exit_page_heading_cy),
                                                               label: {text: t("forms.welsh_translation.new.condition_labels.exit_page_heading_cy", question_number: page_translation.page.position), for: condition_translation.form_field_id(:exit_page_heading_cy)}
                                                               %>
                          <% end %>
                        <% end %>
                        <%= body.with_row do |row| %>
                          <%= row.with_cell(header: true, text: t("forms.welsh_translation.new.exit_page_markdown")) %>
                          <%= row.with_cell(text: condition_translation.condition.exit_page_markdown, classes: "govuk-!-text-break-word") %>
                          <%= row.with_cell do |cell| %>
                            <%= condition_translation_fields.govuk_text_area :exit_page_markdown_cy,
                                                               id: condition_translation.form_field_id(:exit_page_markdown_cy),
                                                               label: {text: t("forms.welsh_translation.new.condition_labels.exit_page_markdown_cy", question_number: page_translation.page.position), for: condition_translation.form_field_id(:exit_page_markdown_cy)}
                                                               %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.pages") %></h2>
          <p><%= t(".no_pages_added") %></p>
        <% end %>
      </div>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_declaration? %>
          <%= govuk_table(classes:["govuk-!-margin-bottom-9", "app-form-field-table", "app-form-field-table--two-column"]) do |table|
          table.with_caption(size: 'm', text: t(".section_headings.declaration"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(header: true, text: t(".english_header"))
                row.with_cell(header: true, text: t(".welsh_header"))
              end
            end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: @welsh_translation_input.form.declaration_text, classes: "govuk-!-text-break-word")
                row.with_cell do
                  f.govuk_text_area :declaration_text_cy
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.declaration") %></h2>
          <p><%= t(".no_declaration_added") %></p>
        <% end %>
      </div>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_what_happens_next? %>
          <%= govuk_table(classes:["govuk-!-margin-bottom-9", "app-form-field-table", "app-form-field-table--two-column"]) do |table|
            table.with_caption(size: 'm', text: t(".section_headings.what_happens_next"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
                row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
              end
            end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: @welsh_translation_input.form.what_happens_next_markdown, classes: "govuk-!-text-break-word")
                row.with_cell do
                  f.govuk_text_area :what_happens_next_markdown_cy
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.what_happens_next") %></h2>
          <p><%= t(".no_what_happens_next_added") %></p>
        <% end %>
      </div>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_privacy_information? %>
          <%= govuk_table(classes:["govuk-!-margin-bottom-9", "app-form-field-table", "app-form-field-table--two-column"]) do |table|
            table.with_caption(size: 'm', text: t(".section_headings.privacy_information"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
                row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
              end
            end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: @welsh_translation_input.form.privacy_policy_url, classes: "govuk-!-text-break-word")
                row.with_cell do
                  f.govuk_text_field :privacy_policy_url_cy
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.privacy_information") %></h2>
          <p><%= t(".no_privacy_information_added") %></p>
        <% end %>
      </div>

      <% if @welsh_translation_input.form_has_payment_url? %>
        <%= govuk_table(classes:["govuk-!-margin-bottom-9", "app-form-field-table"]) do |table|
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell
              row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
              row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
            end
          end

          table.with_body do |body|
            body.with_row do |row|
              row.with_cell(header: true, text: t(".section_headings.payment_link"))
              row.with_cell(text: @welsh_translation_input.form.payment_url, classes: "govuk-!-text-break-word")
              row.with_cell do
                f.govuk_text_field :payment_url_cy
              end
            end
          end
        end %>
      <% end %>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_support_information? %>
          <%= govuk_table(classes:["govuk-!-margin-bottom-9", "app-form-field-table", "app-form-field-table--two-column"]) do |table|
            table.with_caption(size: 'm', text: t(".section_headings.support_information"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell
                row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
                row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
              end
            end

            if @welsh_translation_input.form_has_support_email?
              table.with_body do |body|
                body.with_row do |row|
                  row.with_cell(header: true, text: t("forms.welsh_translation.new.support_email"))
                  row.with_cell(text: @welsh_translation_input.form.support_email, classes: "govuk-!-text-break-word")
                  row.with_cell do
                    f.govuk_text_field :support_email_cy
                  end
                end

                if @welsh_translation_input.form_has_support_phone?
                  body.with_row do |row|
                    row.with_cell(header: true, text: t("forms.welsh_translation.new.support_phone"))
                    row.with_cell(text: @welsh_translation_input.form.support_phone, classes: "govuk-!-text-break-word")
                    row.with_cell do
                      f.govuk_text_area :support_phone_cy
                    end
                  end
                end

                if @welsh_translation_input.form_has_support_url?
                  body.with_row do |row|
                    row.with_cell(header: true, text: t("forms.welsh_translation.new.support_url_text"))
                    row.with_cell(text: @welsh_translation_input.form.support_url_text, classes: "govuk-!-text-break-word")
                    row.with_cell do
                      f.govuk_text_field :support_url_text_cy
                    end
                  end

                  body.with_row do |row|
                    row.with_cell(header: true, text: t("forms.welsh_translation.new.support_url"))
                    row.with_cell(text: @welsh_translation_input.form.support_url, classes: "govuk-!-text-break-word")
                    row.with_cell do
                      f.govuk_text_field :support_url_cy
                    end
                  end
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.support_information") %></h2>
          <p><%= t(".no_support_information_added") %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render MarkCompleteComponent::View.new(generate_form: false, form_builder: f, form_model: @welsh_translation_input, legend: t(".legend"), hint: t(".hint")) %>

      <%= f.govuk_submit t("save_and_continue") %>
    </div>
  </div>
<% end %>
