<% set_page_title(title_with_error_prefix(t('page_titles.welsh_translation'), @welsh_translation_input.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@welsh_translation_input.form), t("back_link.form_create")) %>

<div class="govuk-grid-row">
  <%= form_with(model: @welsh_translation_input, url: welsh_translation_create_path(@welsh_translation_input.form)) do |f| %>
    <div class="govuk-grid-column-two-thirds">
      <% if @welsh_translation_input&.errors&.present? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @welsh_translation_input.form.name %></span>
        <%= t("page_titles.welsh_translation") %>
      </h1>
    </div>

    <div class="govuk-grid-column-full">
      <% @welsh_translation_input.pages.each_with_index do |page, index| %>
        <%= f.fields_for :pages, page, index: index do |pages_fields| %>
          <%= pages_fields.hidden_field :id, value: page.id, readonly: true %>

          <%= govuk_table do |table| %>
            <%= table.with_caption(size: 'm', text: "Question #{page.position}") %>
            <%= table.with_head do |head| %>
              <%= head.with_row do |row| %>
                <%= row.with_cell(header: true, text: nil) %>
                <%= row.with_cell(header: true, text: "English content") %>
                <%= row.with_cell(header: true, text: "Welsh content") %>
              <% end %>
            <% end %>

            <%= table.with_body do |body| %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(header: true, text: "Question text") %>
                <%= row.with_cell(text: page.question_text) %>
                <%= row.with_cell do |cell| %>
                  <%= pages_fields.govuk_text_field :question_text_cy, label: {text: "Question #{page.position} Welsh question text", class: "govuk-visually-hidden"} %>
                <% end %>
              <% end %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(header: true, text: "Hint text") %>
                <%= row.with_cell(text: page.hint_text) %>
                <%= row.with_cell do |cell| %>
                  <%= pages_fields.govuk_text_area :hint_text_cy, label: {text: "Question #{page.position} Welsh hint text", class: "govuk-visually-hidden"} %>
                <% end %>
              <% end %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(header: true, text: "Page heading") %>
                <%= row.with_cell(text: page.page_heading) %>
                <%= row.with_cell do |cell| %>
                  <%= pages_fields.govuk_text_field :page_heading_cy, label: {text: "Question #{page.position} Welsh page heading", class: "govuk-visually-hidden"} %>
                <% end %>
              <% end %>
              <%= body.with_row do |row| %>
                <%= row.with_cell(header: true, text: "Guidance markdown") %>
                <%= row.with_cell(text: page.guidance_markdown) %>
                <%= row.with_cell do |cell| %>
                  <%= pages_fields.govuk_text_area :guidance_markdown_cy, label: {text: "Question #{page.position} Welsh guidance markdown", class: "govuk-visually-hidden"} %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render MarkCompleteComponent::View.new(generate_form: false, form_builder: f, form_model: @welsh_translation_input, legend: t(".legend"), hint: t(".hint")) %>

      <%= f.govuk_submit t("save_and_continue") %>
    </div>
  <% end %>
</div>
