<% set_page_title(title_with_error_prefix(t('page_titles.welsh_translation'), @welsh_translation_input.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@welsh_translation_input.form), t("back_link.form_create")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(model: @welsh_translation_input, url: welsh_translation_create_path(@welsh_translation_input.form)) do |f| %>
      <% if @welsh_translation_input&.errors&.present? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @welsh_translation_input.form.name %></span>
        <%= t("page_titles.welsh_translation") %>
      </h1>

      <%= govuk_table(classes: "govuk-!-margin-bottom-9") do |table| %>
        <%= table.with_caption(size: 'm', text: t(".section_headings.form_name"))
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"), width: "one-half")
            row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
          end
        end %>

        <%= table.with_body do |body|
          body.with_row do |row|
            row.with_cell(text: @welsh_translation_input.form.name)
            row.with_cell do
              f.govuk_text_field :name_cy, label: { class: "govuk-visually-hidden" }
            end
          end
        end %>
      <% end %>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_declaration? %>
          <%= govuk_table do |table|
          table.with_caption(size: 'm', text: t(".section_headings.declaration"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(header: true, text: t(".english_header"), width: "one-half")
                row.with_cell(header: true, text: t(".welsh_header"))
              end
            end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: @welsh_translation_input.form.declaration_text)
                row.with_cell do
                  f.govuk_text_area :declaration_text_cy, label: { class: "govuk-visually-hidden" }
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.declaration") %></h2>
          <p><%= t(".no_declaration_added") %></p>
        <% end %>
      </div>

      <div class="govuk-!-margin-bottom-9">
        <% if @welsh_translation_input.form_has_what_happens_next? %>
          <%= govuk_table do |table|
            table.with_caption(size: 'm', text: t(".section_headings.what_happens_next"))
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"), width: "one-half")
                row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
          end
        end

        table.with_body do |body|
          body.with_row do |row|
            row.with_cell(text: @welsh_translation_input.form.what_happens_next_markdown)
            row.with_cell do
              end
            end
          end
        end
      end %>

      <%= govuk_table(classes: "govuk-!-margin-bottom-9") do |table|
        table.with_caption(size: 'm', text: t(".section_headings.privacy_information"))
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"), width: "one-half")
            row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
          end
        end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(text: @welsh_translation_input.form.what_happens_next_markdown)
                row.with_cell do
                  f.govuk_text_area :what_happens_next_markdown_cy, label: { class: "govuk-visually-hidden" }
                end
              end
            end
          end %>
        <% else %>
          <h2 class="govuk-heading-m"><%= t(".section_headings.what_happens_next") %></h2>
          <p><%= t(".no_what_happens_next_added") %></p>
        <% end %>
      </div>

        <% if @welsh_translation_input.form_has_payment_url? %>
          <%= govuk_table(classes: "govuk-!-margin-bottom-9") do |table|
            table.with_head do |head|
              head.with_row do |row|
                row.with_cell
                row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"), width: "one-half")
                row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
              end
            end

            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(header: true, text: t(".section_headings.payment_link"))
                row.with_cell(text: @welsh_translation_input.form.payment_url)
                row.with_cell do
                  f.govuk_text_field :payment_url_cy, label: { class: "govuk-visually-hidden" }
                end
              end
            end
          end %>
        <% end %>

      <% if @welsh_translation_input.form_has_support_information? %>
        <%= govuk_table(classes: "govuk-!-margin-bottom-9") do |table|
          table.with_caption(size: 'm', text: t(".section_headings.support_information"))
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell
              row.with_cell(header: true, text: t("forms.welsh_translation.new.english_header"))
              row.with_cell(header: true, text: t("forms.welsh_translation.new.welsh_header"))
            end
          end

          if @welsh_translation_input.form_has_support_email?
            table.with_body do |body|
              body.with_row do |row|
                row.with_cell(header: true, text: t("forms.welsh_translation.new.support_email"))
                row.with_cell(text: @welsh_translation_input.form.support_email)
                row.with_cell do
                  f.govuk_text_field :support_email_cy, label: { class: "govuk-visually-hidden" }
                end
              end

              if @welsh_translation_input.form_has_support_phone?
                body.with_row do |row|
                  row.with_cell(header: true, text: t("forms.welsh_translation.new.support_phone"))
                  row.with_cell(text: @welsh_translation_input.form.support_phone)
                  row.with_cell do
                    f.govuk_text_area :support_phone_cy, label: { class: "govuk-visually-hidden" }
                  end
                end
              end

              if @welsh_translation_input.form_has_support_url?
                body.with_row do |row|
                  row.with_cell(header: true, text: t("forms.welsh_translation.new.support_url_text"))
                  row.with_cell(text: @welsh_translation_input.form.support_url_text)
                  row.with_cell do
                    f.govuk_text_field :support_url_text_cy, label: { class: "govuk-visually-hidden" }
                  end
                end

                body.with_row do |row|
                  row.with_cell(header: true, text: t("forms.welsh_translation.new.support_url"))
                  row.with_cell(text: @welsh_translation_input.form.support_url)
                  row.with_cell do
                    f.govuk_text_field :support_url_cy, label: { class: "govuk-visually-hidden" }
                  end
                end
              end
            end
          end
        end %>
      <% end %>

      <%= render MarkCompleteComponent::View.new(generate_form: false, form_builder: f, form_model: @welsh_translation_input, legend: t(".legend"), hint: t(".hint")) %>

      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>

