<%= form_with model: [form_object, question_input], url: action_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_field :question_text, label: { size: 'm' }, hint: { text: hint_for_edit_page_field("question_text", draft_question.answer_type, draft_question.answer_settings) } %>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  <%= f.govuk_text_area :hint_text, label: { size: 'm' }, hint: { text: hint_for_edit_page_field("hint_text", draft_question.answer_type, draft_question.answer_settings) } %>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  <h2 class="govuk-heading-m"><%= t("guidance.guidance") %></h2>
  <% if draft_question.page_heading.present? && draft_question.guidance_markdown.present? %>
    <%= govuk_summary_list(**PageSummaryData::GuidanceService.call(form: form_object, draft_question:).build_data) %>

  <% else %>
    <p><%= t("guidance.instructions") %></p>

    <p>
      <% guidance_link = unless is_new_page
                            guidance_edit_path(form_id: form_object.id, page_id: page_object.id)
                          else
                            guidance_new_path(form_id: form_object.id)
                          end%>
      <%= govuk_button_link_to t("guidance.add_guidance"), guidance_link, secondary: true %>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <% end %>

  <% if question_input.answer_type == 'selection' %>
    <%= f.hidden_field :is_optional %>
  <% else %>
    <%= f.govuk_collection_radio_buttons :is_optional, question_input.default_options, :id, :name, :description, legend: { size: 'm', tag: 'h2' }, bold_labels: false %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <% end %>

  <% if question_input.answer_type == "selection" %>
    <%= f.hidden_field :is_repeatable, value: false %>
  <% else %>
    <%= f.govuk_collection_radio_buttons :is_repeatable, question_input.repeatable_options, :id, :name, :description, legend: { size: 'm', tag: 'h2' }, bold_labels: false %>
    <%= govuk_details(summary_text: t('repeatable.summary_text'), text: t('repeatable.summary_content_html')) %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <% end %>

  <h2 class="govuk-heading-m"><%= t("pages.answer_settings") %></h2>
  <%= render PageSettingsSummaryComponent::View.new(draft_question:, errors: question_input.errors) %>

  <ul class="govuk-list govuk-list--spaced">
    <li>
      <%= f.govuk_submit t('pages.submit_save'), class: "govuk-!-margin-bottom-3" %>
    </li>
    <% unless is_new_page %>
      <li>
        <%= govuk_button_link_to t('pages.delete_question'), delete_page_path(form_id: form_object.id, page_id: page_object.id), warning: true %>
      </li>
      <% if page_object.has_next_page? %>
        <li>
          <%= govuk_link_to "Edit next question", edit_question_path(form_object.id, page_object.next_page) %>
        </li>
      <% else %>
        <li>
          <%= govuk_link_to t("pages.index.add_question"), start_new_question_path(form_object.id) %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(form_object.id) %>
    </li>
  </ul>
<% end %>
