<%= form_with model: [form_object, question_form], url: action_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_field :question_text, label: { size: 'm' }, hint: { text: hint_for_edit_page_field("question_text", draft_question.answer_type, draft_question.answer_settings) } %>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  <%= f.govuk_text_area :hint_text, label: { size: 'm' }, hint: { text: hint_for_edit_page_field("hint_text", draft_question.answer_type, draft_question.answer_settings) } %>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  <h2 class="govuk-heading-m"><%= t("guidance.guidance") %></h2>
  <% if draft_question.page_heading.present? && draft_question.guidance_markdown.present? %>
    <%= govuk_summary_list(**PageSummaryData::GuidanceService.call(form: form_object, draft_question:).build_data) %>

  <% else %>
    <p><%= t("guidance.instructions") %></p>

    <p>
      <% guidance_link = unless is_new_page
                            guidance_edit_path(form_id: form_object.id, page_id: page_object.id)
                          else
                            guidance_new_path(form_id: form_object.id)
                          end%>
      <%= govuk_button_link_to t("guidance.add_guidance"), guidance_link, {secondary: true} %>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <% end %>

  <% if question_form.answer_type == 'selection' %>
    <%= f.hidden_field :is_optional %>
  <% else %>
    <%= f.govuk_check_boxes_fieldset :is_optional, multiple: false, legend: { tag: "h2", text: t("pages.add_rules_legend") , size: 'm' } do %>
      <%= f.govuk_check_box :is_optional, true,0, multiple: false,
                            small: true,
                            label: { text: t("pages.make_optional_text")  },
                            hint: { text: t("pages.make_optional_hint") } %>

    <% end %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <% end %>

  <h2 class="govuk-heading-m"><%= t("pages.answer_settings") %></h2>
  <%= render PageSettingsSummaryComponent::View.new(draft_question, change_address_settings_path:, change_name_settings_path:) %>

  <%= f.govuk_submit page_object.has_next_page? ? t("pages.submit_edit") : t("pages.submit_add") do %>
    <%= f.govuk_submit t('pages.submit_save'), name: :save_preview, secondary: true %>
  <% end %>

  <%= f.govuk_submit t('pages.delete_question'), name: :delete, warning: true unless is_new_page %>
<% end %>
