<% set_page_title(title_with_error_prefix(t("page_titles.add_guidance"), additional_guidance_form.errors&.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_with model: [@form, additional_guidance_form], url: post_url do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("pages.question") %> <%= form.page_number(page) %></span>
        <span class="govuk-visually-hidden"> - </span>
        <%= t("guidance.add_guidance") %>
      </h1>

      <%= t("guidance.when_to_use_guidance_html") %>

      <%= f.govuk_text_field( :page_heading, label: { size: 'm' })  %>

      <%= f.govuk_text_area( :additional_guidance_markdown,
                             label: { size: 'm' },
                             rows: 15)  %>

      <%= f.govuk_submit (additional_guidance_form.additional_guidance_markdown.blank? ? t("guidance.preview_guidance") : t("guidance.update_preview")), secondary: true,  name: "route_to", value: "preview" %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <h2 class='govuk-details__summary-text govuk-!-font-size-19 govuk-!-margin-0 govuk-!-font-weight-regular'>
            <%= t("guidance.formatting_help.heading") %>
          </h2>
        </summary>
        <div class="govuk-details__text">
          <% %w[links second_level_headings third_level_headings bulleted_lists numbered_lists].each do |format_name| %>
            <h3 class="govuk-heading-m"><%= t("guidance.formatting_help.#{format_name}.heading") %></h3>

            <%= simple_format(t("guidance.formatting_help.#{format_name}.instructions")) %>

            <%= govuk_inset_text do %>
              <pre class="app-markdown-example-block"><code class="app-markdown-example-block__code"><%= t("guidance.formatting_help.#{format_name}.example") %></code ></pre>
            <% end %>
          <% end %>
        </div>
      </details>

      <% if preview_html.present? %>
        <h2 class="govuk-heading-m"><%= t("guidance.preview.heading") %></h2>

        <p><%= t("guidance.preview.description") %></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <%= preview_html.html_safe %>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <% end %>

      <%= f.govuk_submit t("continue"), name: "route_to", value: "save_and_continue" %>

    <% end %>
    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>
