<% set_page_title(title_with_error_prefix(t("page_titles.address_settings"), @address_settings_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_link_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: [@form, @address_settings_form], url: @address_settings_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_check_boxes_fieldset 'address_types', multiple: false, legend: { text: t("page_titles.address_settings") }, caption: { text: "#{t("pages.question")} #{@form.page_number(@page)}" , size: 'l' }, hint: { text: t("address_settings.hint")} do %>
        <%= f.govuk_check_box 'uk_address', "true", "false", multiple: false, small: true, label: { text: t("helpers.label.page.address_settings_options.names.uk_addresses") }%>
        <%= f.govuk_check_box 'international_address', "true", "false", multiple: false, small: true, label: { text: t("helpers.label.page.address_settings_options.names.international_addresses") }%>
      <% end %>
      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>

