<% set_page_title(title_with_error_prefix(t("page_titles.date_settings"), 0)) %>
<% content_for :back_link, govuk_back_link_to(@back_link_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("pages.question") %> <%= current_form.page_number(@page) %></span>
      <span class="govuk-visually-hidden"> - </span>
      <%= t("pages.check_your_question") %>
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t("pages.answer_settings") %></h2>
    <%= render PageSettingsSummaryComponent::View.new(draft_question) %>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t("pages.your_question") %></h2>
    <%= govuk_summary_list(**PageSummaryData::QuestionService.call(form: current_form, draft_question:).build_data) %>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <% if draft_question.page_heading.present? && draft_question.guidance_markdown.present? %>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t("guidance.guidance") %></h2>
        <%= govuk_summary_list(**PageSummaryData::GuidanceService.call(form: current_form, draft_question:).build_data) %>
    </div>
  <% end %>
</div>
