<% set_page_title(title_with_error_prefix(@page.question_text, @page.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@form)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for :delete, url: destroy_page_path(@form, @page), method: :delete do |f| %>
      <% confirm_deletions = [
        OpenStruct.new(value: "true"),
        OpenStruct.new(value: "false"),
      ]  %>

      <span class="govuk-caption-l"><%= @page.question_text %></span>
      <%= f.govuk_collection_radio_buttons :confirm_deletion, confirm_deletions, :value, legend: { text: t('delete.confirm_delete_page'), size: 'l', tag: 'h1' } %>

      <%= f.govuk_submit warning: true %>
    <% end  %>


    <div class="govuk-button-group">
      <p class="govuk-body">
        <%=t('pages.or')%> <%= link_to "go back to page", edit_page_path(@form,@page), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    </div>
  </div>
</div>
