<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Question <%= @page_number %></span>
    <h1 class="govuk-heading-l">Edit question</h1>
    <%= form_with model: [@form,@page], url: update_page_path(@form, @page), method: "PATCH" do |f| %>
      <% if @page.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>
      <!-- Long question text input -->
      <%= f.govuk_text_field :question_text, label: { text: "Question text", size: 'm' }, hint: { text: "Ask a question the way you would in person. For example ‘What is your address?’." } %>

      <!-- Short question text input -->
      <%= f.govuk_text_field :question_short_name, label: { text: "Question short name (optional)", size: 'm' }, hint: { text: "The short name will be used when the form’s questions are all displayed in a list. Use a short descriptive name. For example ‘Address’." } %>

      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />

      <!-- Hint text -->
      <details
        class="govuk-details govuk-!-margin-bottom-0"
        data-module="govuk-details"
        <%= !@page.hint_text.blank? ? %(open="true") : '' %>
      >
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Add hint text to help people answer the question
          </span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-bottom-0">
          <%= f.govuk_text_field :hint_text, label: { text: "Hint text (optional)", hidden: true }, hint: { text: "You can use hint text if you need to explain the format the answer should be in, or where to find the information you’ve asked for." } %>
        </div>
      </details>

      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />

      <%= f.govuk_radio_buttons_fieldset :answer_type, small: true, inline: false, legend: { text: "What kind of answer do you need to this question?" }, hint: { text: 'The answer will be validated to check it’s in the selected format.' } do %>
        <%= f.govuk_radio_button :answer_type, 'single_line', label: { text: 'Single line of text' }, link_errors: true %>
        <%= f.govuk_radio_button :answer_type, 'address', label: { text: 'Address' } %>
        <%= f.govuk_radio_button :answer_type, 'date', label: { text: 'Date' } %>
        <%= f.govuk_radio_button :answer_type, 'email', label: { text: 'Email address' } %>
        <%= f.govuk_radio_button :answer_type, 'national_insurance_number', label: { text: 'National Insurance number' } %>
        <%= f.govuk_radio_button :answer_type, 'phone_number', label: { text: 'Phone number' } %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.submit "Save and continue", class: "govuk-button", 'data-module': "govuk-button" %>

        <p class="govuk-body">
          or <%= link_to "go to form overview", form_path(@form), class: "govuk-link govuk-link--no-visited-state" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
