<% set_page_title(title_with_error_prefix(@page.question_text, @page.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(@form)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if flash[:message] %>
      <p class="govuk-body"><%= flash[:message] %></p>
    <% end %>

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("pages.question") %> <%= @page.number(@form) %></span><span class="govuk-visually-hidden"> - </span>
      <%= t("pages.heading") %>
    </h1>

    <%= form_with model: [@form, @page], url: update_page_path(@form, @page) do |f| %>
      <%= render :partial => 'form', locals: { f: f } %>
      <%= govuk_summary_list do |summary_list|
        summary_list.row do |row|
          row.key(text: "Answer type")
          row.value(text: t("helpers.label.page.answer_type_options.names.#{@page.answer_type}"))
          row.action(text: "Change",
                     href: type_of_answer_edit_path(@form),
                     visually_hidden_text: t("helpers.label.page.answer_type_options.names.#{session[:new_page_answer_type]}")
          )
        end
      end %>

      <%= f.govuk_submit @page.has_next_page? ? t("pages.submit_edit") : t("pages.submit_add") do %>
        <%= f.govuk_submit t('pages.submit_save'), name: :save_preview, secondary: true %>
      <% end %>
      <%= f.govuk_submit t('pages.delete_question'), name: :delete, warning: true %>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>
