<% set_page_title(title_with_error_prefix(@page.question_text, @page.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(@form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("pages.question") %> <%= @form.page_number(@page) %></span>
      <span class="govuk-visually-hidden"> - </span>
      <%= t("pages.heading") %>
    </h1>

    <%= render :partial => 'form', locals: { is_new_page: false,
                                             form_object: @form,
                                             page_object: @page,
                                             action_path: update_page_path(@form, @page) ,
                                             change_answer_type_path: type_of_answer_edit_path(@form)
    } %>

    <p class="govuk-body">
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>
