<% set_page_title(title_with_error_prefix(t("page_titles.add_guidance"), guidance_input.errors&.any?)) %>
<% content_for :back_link, govuk_back_link_to(back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_with model: [current_form, guidance_input], url: post_url do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("pages.question") %> <%= current_form.page_number(page) %></span>
        <span class="govuk-visually-hidden"> - </span>
        <%= t("guidance.add_guidance") %>
      </h1>

      <%= t("guidance.when_to_use_guidance_html") %>

      <%= f.govuk_text_field( :page_heading, label: { size: 'm' })  %>

      <%= render MarkdownEditorComponent::View.new(:guidance_markdown,
        form_builder: f,
        render_preview_path: guidance_render_preview_path(current_form),
        preview_html:,
        form_model: guidance_input,
        label: t("helpers.label.pages_guidance_input.guidance_markdown"),
        hint: t("helpers.hint.pages_guidance_input.guidance_markdown"),
        local_translations: {
          preview_description: t("guidance.markdown_editor.preview.description"),
          preview_heading: t("guidance.markdown_editor.preview.heading"),
          preview_markdown: t("guidance.markdown_editor.preview_markdown"),
          preview_tab_text: t("guidance.markdown_editor.preview_tab_text"),
          update_preview: t("guidance.markdown_editor.update_preview"),
          write_tab_text: t("guidance.markdown_editor.write_tab_text"),
          edit_markdown_link: t("guidance.markdown_editor.edit_markdown_link"),
        }) %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t("continue"), name: "route_to", value: "save_and_continue" %>
        <%= govuk_link_to t('cancel'), back_link %>
      </div>

    <% end %>
    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(current_form) %>
    </p>
  </div>
</div>
