<% set_page_title(title_with_error_prefix(t("page_titles.add_guidance"), guidance_form.errors&.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_with model: [@form, guidance_form], url: post_url do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("pages.question") %> <%= form.page_number(page) %></span>
        <span class="govuk-visually-hidden"> - </span>
        <%= t("guidance.add_guidance") %>
      </h1>

      <%= t("guidance.when_to_use_guidance_html") %>

      <%= f.govuk_text_field( :page_heading, label: { size: 'm' })  %>

      <%= render MarkdownEditorComponent::View.new(:guidance_markdown,
        form_builder: f,
        render_preview_path: guidance_render_preview_path(@form),
        preview_html:,
        form_model: guidance_form,
        label: "Add guidance text",
        hint: "Use Markdown if you need to format your guidance content. Formatting help can be found below.",
        write_heading: "Write guidance",
        preview_heading: "Preview guidance") %>

      <%= f.govuk_submit t("continue"), name: "route_to", value: "save_and_continue" %>

    <% end %>
    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>
