<% set_page_title(@form.name) %>

<% content_for :back_link, govuk_back_link_to(form_path(@form), "Back to create a form") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if form_is_live(@form) %>
      <%= render LiveFormWarningComponent::View.new() %>
    <% end %>

    <span class="govuk-caption-l"><%= @form.name %></span>
    <h1 class="govuk-heading-l"><%= t("pages.index.title") %></h1>

    <% if flash[:message] %>
      <p class="govuk-body"><%= flash[:message] %></p>
    <% end %>
    <div class="govuk-button-group">
      <%= govuk_button_link_to t("pages.index.add_question"), new_page_path(@form), class:"govuk-!-margin-bottom-3 govuk-!-margin-top-3" %>
      <%= govuk_link_to t("home.preview"), link_to_runner(ENV["RUNNER_BASE"], @form.id ), { target:"_blank", rel:"noopener noreferrer"} %>
    </div>

    <% if @pages.any? %>
      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0"><%= t("forms.form_overview.your_questions") %></h2>
      <% @pages.each do |page| %>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
              <%= page.question_text %>
            </dt>
            <dd class="govuk-summary-list__actions">
              <%= govuk_link_to edit_page_path(@form,page) do %>
                <%= t("forms.form_overview.edit") %> <span class="govuk-visually-hidden"><%= page.question_text %></span>
              <% end %>
            </dd>
          </div>
        </dl>
      <% end %>
    <% end %>

  </div>
</div>
