<% set_page_title(t("pages.index.title")) %>

<% content_for :back_link, govuk_back_link_to(form_path(current_form), t("back_link.form_create")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render PageListComponent::ErrorSummary::View.new(pages: @pages) %>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l"><%= current_form.name %></span><span class="govuk-visually-hidden"> - </span>
      <%= t("pages.index.title") %>
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><%= render FormStatusTagComponent::View.new(status: :draft) %></dd>
    </dl>

    <% if flash[:message] %>
      <p><%= flash[:message] %></p>
    <% end %>
    <div class="govuk-button-group">
      <%= govuk_button_link_to t("pages.index.add_question"), start_new_question_path(form_id: current_form.id), class:"govuk-!-margin-bottom-3 govuk-!-margin-top-3" %>
      <%= govuk_button_link_to t("pages.index.add_a_question_route"), routing_page_path(current_form), secondary: true, class:"govuk-!-margin-bottom-3 govuk-!-margin-top-3" %>

      <%= render PreviewLinkComponent::View.new(@pages, link_to_runner(Settings.forms_runner.url, current_form.id, current_form.form_slug)) %>
    </div>

    <% if @pages.any? %>
      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0"><%= t("forms.form_overview.your_questions") %></h2>
      <%= render PageListComponent::View.new(pages: @pages, form_id: current_form.id) %>
      <%= render MarkCompleteComponent::View.new(form_model: @mark_complete_input, path: form_pages_path(current_form), legend: t("pages.index.mark_complete.legend")) %>
    <% end %>

  </div>
</div>
