<% @pages.each do |page| %>
  <h2><%= page.id %> (<%= link_to "Edit", edit_form_page_path(@form,page) %>)</h2>
  <p>
    <strong>question_text:</strong>
    <%= page.question_text %>
  </p>

  <p>
    <strong>question_short_name:</strong>
    <%= page.question_short_name %>
  </p>

  <p>
    <strong>hint_text:</strong>
    <%= page.hint_text %>
  </p>

  <p>
    <strong>answer_type:</strong>
    <%= page.answer_type %>
  </p>
<% end %>
