<% set_page_title(title_with_error_prefix(t("page_titles.name_settings"), @name_settings_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_link_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: [@form, @name_settings_form], url: @name_settings_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><span class="govuk-caption-l"><%= "#{t("pages.question")} #{@form.page_number(@page)}" %></span>
        <%= t("page_titles.name_settings") %>
      </h1>

      <%= f.govuk_collection_radio_buttons(
            :input_type,
            Pages::NameSettingsForm::INPUT_TYPES,
            ->(option) { option },
            ->(option) { t('helpers.label.page.name_settings_options.names.' + option) },
            ->(option) { t('helpers.label.page.name_settings_options.hints.' + option) },
            legend: { text: t("helpers.label.page.name_settings_options.legends.input_type") },
            hint: { text: t("helpers.label.page.name_settings_options.hints.input_type"), size: 'm' },
            bold_labels: false,
            )  %>
      <%= f.govuk_collection_radio_buttons(
            :title_needed,
            Pages::NameSettingsForm::TITLE_NEEDED,
            ->(option) { option },
            ->(option) { t('helpers.label.page.name_settings_options.names.' + option) },
            legend: { text: t("helpers.label.page.name_settings_options.legends.title") },
            hint: { text: t("helpers.label.page.name_settings_options.hints.title"), size: 'm' },
            )  %>
      <%= f.govuk_submit t('continue') %>
    <% end %>

    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>

