<% set_page_title(title_with_error_prefix(t("page_titles.new_page_form"), @question_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(@form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= t("pages.question") %> <%= @form.page_number(@page) %></span>
      <span class="govuk-visually-hidden"> - </span>
      <%= t("pages.heading") %>
    </h1>

    <%= render partial: 'form', locals: { is_new_page: true,
                                             form_object: @form,
                                             page_object: @page,
                                             question_form: @question_form,
                                             action_path: create_question_path(@form),
                                             change_answer_type_path: type_of_answer_new_path(@form),
                                             change_selections_settings_path: selections_settings_new_path(@form),
                                             change_text_settings_path: text_settings_new_path(@form),
                                             change_date_settings_path: date_settings_new_path(@form),
                                             change_address_settings_path: address_settings_new_path(@form),
                                             change_name_settings_path: name_settings_new_path(@form)
        } %>

    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(@form) %>
    </p>
  </div>
</div>
