<% set_page_title(title_with_error_prefix(t("page_titles.question_text"), @question_text_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_link_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: [current_form, @question_text_input], url: @question_text_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :question_text, label: { tag: 'h1', size: 'l' }, hint: { text: t("helpers.hint.page.question_text.checkbox") } %>
      <%= f.govuk_submit t('continue') %>
    <% end %>

    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(current_form) %>
    </p>
  </div>
</div>
