<%= govuk_summary_list(classes: "app-summary-list") do |summary_list| %>
  <%= summary_list.with_row do |row| %>
    <%= row.with_key(text: t("page_settings_summary.answer_type")) %>
    <%= row.with_value(text: t("helpers.label.page.answer_type_options.names.#{@draft_question.answer_type}")) %>
    <%= row.with_action(text: t("page_settings_summary.change"),
                    href: @change_answer_type_path,
                    visually_hidden_text: t("page_settings_summary.answer_type")) %>
  <% end %>

  <% if show_selection_settings_summary %>
    <%= summary_list.with_row(classes: class_names("govuk-form-group--error": @errors&.has_key?(:selection_options))) do |row| %>
      <%= row.with_key(text: t("page_settings_summary.selection.options")) %>
      <%= row.with_value do %>
          <% if @errors&.has_key?(:selection_options) %>
            <p id="pages-question-input-selection-options-field-error" class="govuk-error-message">
              <span class="govuk-visually-hidden"><%= t("errors.prefix") %></span> <%= @errors.messages_for(:selection_options).first %>
            </p>
          <% end %>
          <p>
            <%= t("page_settings_summary.selection.options_count", number_of_options: selection_options.length) %>
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <% selection_options.each do |option| %>
              <li><%= option[:name] %></li>
            <% end %>
          </ul>
      <% end %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                    href: @change_selections_options_path,
                    visually_hidden_text: t("page_settings_summary.selection.options")) %>
    <% end %>
    <% if @long_lists_enabled %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: t("page_settings_summary.selection.how_many_selections")) %>
        <%= row.with_value(text: answer_settings[:only_one_option] == "true" ? t("helpers.label.pages_long_lists_selection_type_input.only_one_option_options.true") : t("helpers.label.pages_long_lists_selection_type_input.only_one_option_options.false")) %>
        <%= row.with_action(text: t("page_settings_summary.change"),
                            href: @change_selections_only_one_option_path,
                            visually_hidden_text: t("page_settings_summary.selection.only_one_option")) %>
      <% end %>
    <% else %>
      <%= summary_list.with_row do |row| %>
        <%= row.with_key(text: t("page_settings_summary.selection.only_one_option")) %>
        <%= row.with_value(text: answer_settings[:only_one_option] == "true" ? t("selections_settings.yes") : t("selections_settings.no")) %>
        <%= row.with_action(text: t("page_settings_summary.change"),
                      href: @change_selections_only_one_option_path,
                      visually_hidden_text: t("page_settings_summary.selection.only_one_option")) %>
      <% end %>
    <% end %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.selection.include_none_of_the_above")) %>
      <%= row.with_value(text: @draft_question.is_optional ? t("selections_settings.yes") : t("selections_settings.no")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                    href: @change_selections_options_path,
                    visually_hidden_text: t("page_settings_summary.selection.include_none_of_the_above")) %>
    <% end %>
  <% end %>

  <% if show_text_settings_summary %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.text.length")) %>
      <%= row.with_value(text: t("helpers.label.page.text_settings_options.names.#{answer_settings[:input_type]}")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                    href: @change_text_settings_path,
                    visually_hidden_text: t("page_settings_summary.text.length"))  %>
    <% end %>
  <% end %>

  <% if show_date_settings_summary %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.date.date_of_birth")) %>
      <%= row.with_value(text: t("helpers.label.page.date_settings_options.input_types.#{answer_settings[:input_type]}")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                    href: @change_date_settings_path,
                    visually_hidden_text: t("page_settings_summary.date.date_of_birth"))  %>
    <% end %>
  <% end %>

  <% if show_address_settings_summary %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.address.address_type")) %>
      <%= row.with_value(text: t("helpers.label.page.address_settings_options.names.#{address_input_type_to_string}")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                     href: @change_address_settings_path,
                     visually_hidden_text: t("page_settings_summary.address.address_type")) %>
    <% end %>
  <% end %>

  <% if show_name_settings_summary %>
    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.name.name_fields")) %>
      <%= row.with_value(text: t("helpers.label.page.name_settings_options.names.#{answer_settings[:input_type]}")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                     href: @change_name_settings_path,
                     visually_hidden_text: t("page_settings_summary.name.name_fields")) %>
    <% end %>

    <%= summary_list.with_row do |row| %>
      <%= row.with_key(text: t("page_settings_summary.name.title_needed")) %>
      <%= row.with_value(text: t("helpers.label.page.name_settings_options.names.#{answer_settings[:title_needed]}")) %>
      <%= row.with_action(text: t("page_settings_summary.change"),
                     href: @change_name_settings_path,
                     visually_hidden_text: t("page_settings_summary.name.title_needed")) %>
    <% end %>
  <% end %>
<% end %>
