<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= @form.name %></span>
  <%= t("page_titles.email_code_sent") %>
</h1>
<%= t('email_code_sent.body_html', temp_email: @temp_email) %>

<p class="govuk-body"><%= govuk_link_to "Enter the email address confirmation code", confirm_form_email_path(@form) %></p>
<p class="govuk-body"><%= govuk_link_to(t('email_code_sent.continue'), form_path) %></p>
