<% branch_routing_enabled = FeatureService.new(group: form.group).enabled?(:branch_routing) %>
<% exit_pages_enabled = FeatureService.new(group: form.group).enabled?(:exit_pages) %>

<% if exit_pages_enabled %>
  <% body_text = t("routing_page.exit_pages.body_html") %>
  <% hint_text = t("routing_page.exit_pages.legend_hint_text") %>
<% elsif branch_routing_enabled %>
  <% body_text = t("routing_page.branch_routing.body_html") %>
  <% hint_text = t("routing_page.branch_routing.legend_hint_text") %>
<% else %>
  <% body_text = t("routing_page.body_html") %>
  <% hint_text = t("routing_page.legend_hint_text") %>
<% end %>

<%= form_with(model: routing_page_input, url: set_routing_page_path(form.id), method: 'POST') do |f| %>
  <% if routing_page_input&.errors.any? %>
    <%= f.govuk_error_summary %>
  <% end %>

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l"><%= form.name %> </span>
    <%= t("page_titles.routing_page") %>
  </h1>

  <%= body_text %>

  <% if form.qualifying_route_pages.length <= 10 %>
    <%= f.govuk_collection_radio_buttons :routing_page_id,
          form.qualifying_route_pages,
          :id, :question_with_number,
          legend: { text: t("routing_page.legend_text"), size: 'm' },
          hint: { text: hint_text }
    %>
  <% else %>
    <%= f.govuk_collection_select :routing_page_id,
      form.qualifying_route_pages,
      :id, :question_with_number,
      label: { text: t("routing_page.legend_text"), size: 'm' },
      options: { include_blank: t("routing_page.dropdown_default_text") },
      hint: { text: hint_text }

    %>
  <% end %>

  <%= f.govuk_submit t("continue") %>
<% end %>
