<% set_page_title(title_with_error_prefix(t('page_titles.routing_page'), routing_page_form.errors&.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(form.id)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if policy(form).can_add_page_routing_conditions? %>
      <%= render partial: "pages/conditions/routing_options", locals: {form:, routing_page_form:} %>
    <% else %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= form.name %> </span>
        <%= t("page_titles.routing_page") %>
      </h1>

      <p>
        <%= t("routing_page.body_text") %>
      </p>

      <h2 class="govuk-heading-m"><%= t("routing_page.routing_requirements_not_met_heading") %></h2>

      <%= t('routing_page.routing_requirements_not_met_html') %>
    <% end %>
    <p>
      <%= govuk_link_to t('pages.go_to_your_questions'), form_pages_path(form.id) %>
    </p>
  </div>
</div>
