<% set_page_title(title_with_error_prefix(t('page_titles.declaration'), @declaration_input.errors.present?)) %>
<% content_for :back_link, govuk_back_link_to(form_path(@declaration_input.form), t("back_link.form_create")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @declaration_input, url: declaration_create_path(@declaration_input.form)) do |f| %>
      <% if @declaration_input&.errors&.present? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @declaration_input.form.name %></span>
        <%= t("page_titles.declaration") %>
      </h1>

      <%= t("declaration_input.new.body_html") %>

      <%= f.govuk_text_area :declaration_text, max_chars: 2000, label: {size: 'm' } %>

      <%= render MarkCompleteComponent::View.new(generate_form: false, form_builder: f, form_model: @declaration_input) %>

      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>

