<% if render_counter? %>
  <%= tag.p(class:"app-task-list__summary") do %>
    You’ve completed <%= completed_task_count %> of <%= total_task_count %> tasks.
  <% end %>
<% end %>
<%= tag.ol(**html_attributes) do %>
  <% sections.each do |section| %>
    <% unless section.rows.empty? && section.body_text.blank? %>
      <li>
        <% if section.subsection %>
          <h3 class="app-task-list__subsection"><%= section.title %></h3>
        <% else %>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"><%= section.number %>. </span> <%= section.title %>
          </h2>
        <% end %>
        <% if section.body_text.present? %>
          <div class="app-task-list__body">
            <%= simple_format(section.body_text) %>
          </div>
        <% end %>

        <% unless section.rows.empty? %>
          <%= govuk_task_list(id_prefix: section.title.gsub(" ", "-").downcase, classes: "app-task-list__items") do |task_list| %>
            <% section.rows.each do |row| %>
              <% task_list.with_item(classes: "app-task-list__item") do |item| %>
                <% item.with_title(text: row.task_name, href: row.get_path, hint: row.hint_text&.html_safe ) %>
                <% item.with_status(text: govuk_tag(text: I18n.t("task_statuses.#{row.status}"), colour: row.get_status_colour), cannot_start_yet: row.cannot_start?) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
