<% if render_counter? %>
  <%= tag.p(class:"app-task-list__summary") do %>
    You’ve completed <%= completed_task_count %> of <%= total_task_count %> tasks.
  <% end %>
<% end %>
<%= tag.div(**html_attributes) do %>
  <% sections.each do |section| %>
    <% unless section.rows.empty? && section.body_text.blank? %>
      <% if section.subsection %>
        <h3 class="govuk-heading-s"><%= section.title %></h3>
      <% else %>
        <h2 class="govuk-heading-m">
          <%= section.number %>. <%= section.title %>
        </h2>
      <% end %>
      <% if section.body_text.present? %>
        <div class="app-task-list__body">
          <%= simple_format(section.body_text) %>
        </div>
      <% end %>

      <% unless section.rows.empty? %>
        <%= govuk_task_list(id_prefix: section.title.gsub(" ", "-").downcase) do |task_list| %>
          <% section.rows.each do |row| %>
            <% task_list.with_item do |item| %>
              <% item.with_title(text: row.task_name, href: row.get_path, hint: row.hint_text&.html_safe ) %>
              <% item.with_status(text: row.get_status_tag, cannot_start_yet: row.cannot_start?) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
