<% set_page_title(title_with_error_prefix(t("page_titles.edit_exit_page"), update_exit_page_input.errors&.any?)) %>
<% content_for :back_link, govuk_back_link_to(edit_condition_path(update_exit_page_input.form.id, update_exit_page_input.page.id, update_exit_page_input.record.id), t(".back_link")) %>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= form_with model: update_exit_page_input, url: update_exit_page_path(update_exit_page_input.form.id, update_exit_page_input.page.id, update_exit_page_input.record.id), method: 'PUT' do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t("page_titles.routing_page_caption", question_number: update_exit_page_input.page.position) %></span>
        <span class="govuk-visually-hidden"> - </span>
        <%= t("page_titles.edit_exit_page") %>
      </h1>

      <%= f.govuk_text_field( :exit_page_heading, value: update_exit_page_input.exit_page_heading, label: { size: 'm' })  %>
      
      <%= render MarkdownEditorComponent::View.new(:exit_page_markdown,
        form_builder: f,
        render_preview_path: exit_page_render_preview_path(form_id: update_exit_page_input.form.id, page_id: update_exit_page_input.page.id, check_preview_validation:),
        preview_html: preview_html,
        form_model: update_exit_page_input,
        label: t("helpers.label.pages_exit_page_input.exit_page_markdown"),
        hint: t("helpers.hint.pages_exit_page_input.exit_page_markdown"),
        allow_headings: true) %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t("save_and_continue") %>
        <%= govuk_link_to t('cancel'), edit_condition_path(update_exit_page_input.form.id, update_exit_page_input.page.id, update_exit_page_input.record.id) %>
      </div>
      <%= govuk_button_link_to t('.delete_exit_page'), delete_exit_page_path(update_exit_page_input.form.id, update_exit_page_input.page.id, update_exit_page_input.record.id), warning: true %>
    <% end %>
  </div>
</div>
