<% set_page_title(form_document.name) %>

<% if form_metadata.group.present? %>
  <% content_for :back_link, govuk_back_link_to(group_path(form_metadata.group), t("back_link.group", group_name: form_metadata.group.name)) %>
<% else %>
  <% content_for :back_link, govuk_back_link_to(root_path, t("back_link.forms")) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <%= form_document.name %>
    </h1>
    <%= render FormStatusTagDescriptionComponent::View.new(status: status) %>

    <% metrics_data = CloudWatchService.new(form_document.id, form_document.made_live_date).metrics_data %>
    <%= render MetricsSummaryComponent::View.new(form_document.made_live_date, metrics_data) %>

    <h2 class="govuk-heading-l">Your form</h2>

    <p>
      <%= render PreviewLinkComponent::View.new(form_document.steps, link_to_runner(Settings.forms_runner.url, form_document.id, form_document.form_slug, mode: preview_mode)) %>
    </p>

    <% if status == :live %>
      <%= render FormUrlComponent::View.new(runner_link: link_to_runner(Settings.forms_runner.url, form_document.id, form_document.form_slug, mode: :live))%>
    <% else %>
      <h3 class="govuk-heading-m"><%= t('made_live_form.previous_form_url') %></h3>
      <p>
        <%= link_to_runner(Settings.forms_runner.url, form_document.id, form_document.form_slug, mode: :live) %>
      </p>
    <% end %>

    <h3 class="govuk-heading-m"><%= t('made_live_form.questions') %></h3>
    <p><%= govuk_link_to t('made_live_form.questions_link', count: form_document.steps.count), questions_path %></p>

    <% if form_document.declaration_text.present? %>
      <h3 class="govuk-heading-m"><%= t('made_live_form.declaration') %></h3>
      <p><%= form_document.declaration_text %></p>
      <%= govuk_details(summary_text: t('made_live_form.what_is_declaration'), text: t('made_live_form.declaration_description')) %>
    <% end %>

    <h3 class="govuk-heading-m"><%= t('made_live_form.what_happens_next') %></h3>
    <div class="app-preview-area">
      <%= GovukFormsMarkdown.render(form_document.what_happens_next_markdown).html_safe %>
    </div>
    <%= govuk_details(summary_text: t('made_live_form.what_is_what_happens_next'), text: t('made_live_form.what_happens_next_description')) %>

    <% if form_document.respond_to?(:payment_url) && form_document.payment_url.present? %>
      <h3 class="govuk-heading-m"><%= t("made_live_form.payment_link") %></h3>
      <p><%= govuk_link_to(form_document.payment_url, form_document.payment_url) %></p>
    <% end %>

    <h3 class="govuk-heading-m"><%= t("made_live_form.how_you_get_completed_forms") %></h3>

    <h4 class="govuk-heading-s"><%= t('made_live_form.submission_email') %></h4>
    <p class="govuk-!-text-break-word"><%= form_document.submission_email %></p>
    
    <% if form_document.submission_type == "email" %>
      <% submission_format = ["email", *form_document.submission_format].join("_") %>
      <% if FeatureService.enabled?(:json_submission_enabled) %>
        <h4 class="govuk-heading-s"><%= t("made_live_form.csv_and_json") %></h4>
        <p><%= t("made_live_form.submission_format.email.#{submission_format}_html") %></p>
      <% else %>
        <h4 class="govuk-heading-s"><%= t("made_live_form.csv") %></h4>
        <p><%= t("made_live_form.submission_format.email.json_submissions_disabled.#{submission_format}") %></p>
      <% end %>
    <% end %>

    <h3 class="govuk-heading-m"><%= t('made_live_form.privacy_policy_link') %></h3>
    <p><%= govuk_link_to(form_document.privacy_policy_url, form_document.privacy_policy_url) %></p>

    <h3 class="govuk-heading-m"><%= t('made_live_form.contact_details') %></h3>

    <% if form_document.support_email %>
      <h4 class="govuk-heading-s"><%= t('made_live_form.support_email') %></h4>
      <p class="govuk-!-text-break-word"><%= form_document.support_email %></p>
    <% end %>

    <% if form_document.support_phone %>
      <h4 class="govuk-heading-s"><%= t('made_live_form.support_phone') %></h4>
      <p><%= form_document.support_phone %></p>
    <% end %>

    <% if form_document.support_url %>
      <h4 class="govuk-heading-s"><%= t('made_live_form.support_url') %></h4>
      <p><%= govuk_link_to form_document.support_url_text, form_document.support_url %></p>
    <% end %>

    <div class="govuk-button-group">
      <%# i18n-tasks-use t('made_live_form.draft_create') %>
      <%# i18n-tasks-use t('made_live_form.draft_edit') %>
      <%= govuk_button_link_to t("made_live_form.draft_#{ form_metadata.has_draft_version ? 'edit': 'create'}"), form_path(form_document.id) %>
      <% if status == :live %>
        <%= govuk_button_link_to t("made_live_form.archive_this_form"), archive_form_path(form_document.id), warning: true %>
      <% elsif status == :archived %>
        <%= govuk_button_link_to t("made_live_form.make_this_form_live"), unarchive_path(form_document.id), secondary: true %>
      <% end %>
    </div>
  </div>
</div>
