<% content_for :back_link do %>
  <%= link_to "Back", form_path(@form.id), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for :delete, url: form_path(@form), method: :delete do |f| %>
      <% confirm_deletions = [
        OpenStruct.new(value: "true"),
        OpenStruct.new(value: "false"),
      ]  %>

      <span class="govuk-caption-l"><%= @form.name %></span>
      <%= f.govuk_collection_radio_buttons :confirm_deletion, confirm_deletions, :value, legend: { text: t('delete.confirm_delete_form'), size: 'l', tag: 'h1' } %>

      <%= f.govuk_submit warning: true %>
    <% end  %>


    <div class="govuk-button-group">

      <p class="govuk-body">
        <%=t('pages.or')%> <%= link_to "go back to form", form_path(@form), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    </div>
  </div>
</div>

