<h1 class="govuk-heading-l">Edit form</h1>

<% if flash[:message] %>
  <p class="govuk-body">
    <%= flash[:message] %>
  </p>
<% end %>

<%= form_with model: @form do |form| %>
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <%= form.label :name, "What is the name of your form?", class: "govuk-label" %>
    </h1>
    <div id="form-title-hint" class="govuk-hint">
      The form name will be shown at the top of each page of the form. Use a name that describes what the form will help people to do. For example 'Apply for a juggling licence'.
    </div>
    <%= form.text_field :name, class: "govuk-input", 'aria-describedby': "form-title-hint" %>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Email address
      <%= form.label :submission_email, "What email should responses be sent to?", class: "govuk-label" %>
    </label>
    <div id="email-hint" class="govuk-hint">
      This should be a departmental shared inbox.
    </div>
    <%= form.email_field :submission_email, class: "govuk-input", 'aria-describedby': "email-hint", spellcheck: "false", autocomplete: "email" %>
  </div>

  <div>
    <%= form.submit "Save and continue", class: "govuk-button" %>
  </div>
<% end %>


<%= button_to "Delete #{@form.name}", @form, :method => :delete, class: "govuk-button govuk-button--warning", "data-module": "govuk-button" %>
