<% set_page_title(t("page_titles.home")) %>
<h1 class="govuk-heading-l"><%= t("home.main_heading") %></h1>

<% if flash[:message] %>
  <p class="govuk-body">
    <%= flash[:message] %>
  </p>
<% end %>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_form_path) %>

<% if @forms.any? %>
  <%= govuk_table do |table| %>
    <%= table.caption(size: 'm', text: t("home.your_forms")) %>

    <%= table.head do |head|
       head.row do |row|
        row.cell(header: true, text: t("home.form_name_heading"))
        row.cell(header: true, text: t("home.form_status_heading"), numeric: true)
      end
    end %>

    <%= table.body do |body|
      @forms.each do |form|
        body.row do |row|
          row.cell do
            if form.has_live_version
              govuk_link_to(form.name, live_form_path(form.id))
            else
              govuk_link_to(form.name, form_path(form.id))
            end
          end
          row.cell(numeric: true) do
            html = ""
            html << render(FormStatusTagComponent::View.new(status: :draft)) if form.has_draft_version
            html << render(FormStatusTagComponent::View.new(status: :live)) if form.has_live_version
            html.html_safe
          end
        end
      end
    end %>

  <% end %>


<% end %>
