<% set_page_title(t("page_titles.home")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @current_user.trial? %>
      <%= render TrialRoleWarningComponent::View.new(link_url: user_upgrade_request_path) %>
    <% elsif @current_user.role_changed_to_editor? %>
      <%= render RoleUpgradeComponent::View.new() %>
    <% end %>
  </div>
</div>

<h1 class="govuk-heading-l"><%= t("home.main_heading") %></h1>

<% if flash[:message] %>
  <p>
    <%= flash[:message] %>
  </p>
<% end %>

<%= govuk_start_button(text: t("home.create_a_form"), href: new_form_path) %>

<% if @current_user.super_admin? %>

  <%= form_with(model: @search_form, scope: :search, url: root_path, method: 'get', local: true) do |f| %>
    <%= render DfE::Autocomplete::View.new(
      f,
      attribute_name: :organisation_id,
      form_field: f.govuk_collection_select(:organisation_id,
                                            Organisation.with_users.order(:slug),
                                            :id,
                                            :name,
                                            class: ['govuk-!-width-three-quarters'],
                                            options: { prompt: t('home.organisation_prompt') },
                                            label: { text: t('home.search_form_label', organisation_name: @search_form.organisation.name), size: 'm', tag: 'h2' },
                                            hint: { text: t('home.organisation_hint') },
                                           ),
    html_attributes: { 'data-show-all-values' => 'true'},
    )%>
  <%= f.govuk_submit(t("home.change_filter"), secondary: true) %>
  <% end %>

  <%= govuk_section_break(visible: true, size: 'l') %>
<% end %>

<% if @forms.any? %>
  <%= govuk_table(**FormListService.call(forms: @forms, current_user: @current_user, search_form: @search_form).data)%>
<% end %>

<%= init_autocomplete_script(show_all_values: true, raw_attribute: false, source: false) %>
