<% set_page_title(@form.name) %>

<% content_for :back_link, govuk_back_link_to(root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @form.name %></span><span class="govuk-visually-hidden"> - </span>
      <%= @form.live? ? t("forms.form_overview.live_title") : t("forms.form_overview.title") %>
      <span class="govuk-!-display-block"><%= render FormStatusTagComponent::View.new(status: @form.status) %></span>
    </h1>



    <% if flash[:message] %>
      <p class="govuk-body"><%= flash[:message] %></p>
    <% end %>

    <% if @form.live? %>
      <%= render FormUrlComponent::View.new(link_to_runner(ENV["RUNNER_BASE"], @form.id, @form.form_slug, live: true ))%>

      <div class="govuk-inset-text">
        <p><%= t("live_form_warning.notification_heading") %></p>
        <p><%= t("live_form_warning.notification_content") %></p>
      </div>
    <% end %>

    <%= render TaskListComponent::View.new(sections: @task_list)
    %>

    <p class="govuk-body govuk-!-margin-bottom-9">
      <%= govuk_link_to t("home.preview"),link_to_runner(ENV["RUNNER_BASE"], @form.id, @form.form_slug), { target:"_blank", rel:"noopener noreferrer"} %>
    </p>

    <%= govuk_button_link_to t("forms.delete_form"), delete_form_path(@form.id), warning: true %>
  </div>
</div>
