<% set_page_title(@form.name) %>

<% content_for :back_link do %>
  <%= link_to "Back", root_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @form.name %></span>
    <h1 class="govuk-heading-l">Form overview</h1>

    <% if flash[:message] %>
      <p class="govuk-body"><%= flash[:message] %></p>
    <% end %>

    <%= link_to "Add a question", new_page_path(@form), class: "govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3", 'data-module':"govuk-button", draggable:"false", role: "button" %>

    <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">
      Form name
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
          <%= @form.name %>
        </dt>
        <dd class="govuk-summary-list__actions">
          <%= link_to change_form_name_path(@form), class: "govuk-link govuk-link--no-visited-state" do %>
              Edit<span class="govuk-visually-hidden"> form name</span>
          <% end %>
        </dd>
      </div>
    </dl>

    <% if @pages.any? %>
      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">Your questions</h2>
      <% @pages.each do |page| %>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
              <%= page.question_text %>
            </dt>
            <dd class="govuk-summary-list__actions">
              <%= link_to edit_page_path(@form,page), class: "govuk-link govuk-link--no-visited-state" do %>
                Edit<span class="govuk-visually-hidden"> <%= page.question_text %></span>
              <% end %>
            </dd>
          </div>
        </dl>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-0">
      Submission email
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
          <%= @form.submission_email %>
        </dt>
        <dd class="govuk-summary-list__actions">
          <%= link_to edit_form_path(@form.id), class: "govuk-link govuk-link--no-visited-state" do %>
              Edit<span class="govuk-visually-hidden"> submission email</span>
          <% end %>
        </dd>
      </div>
    </dl>
    <%= button_to "Delete form", @form, :method => :delete, class: "govuk-button govuk-button--warning", "data-module": "govuk-button" %>
  </div>
</div>
