
<%if @pages.present?  %>
  <div class="app-page-list">
    <%= form_with url: move_page_url(@form_id), method: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <dl class="govuk-summary-list">
        <% @pages.each_with_index do |page, index| %>
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key app-page-list__key">
              <%= page.position %>
            </dt>

            <dd class="govuk-summary-list__value">
              <%= question_text_with_optional_suffix(page) %>
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">

              <div class="govuk-button-group form-action-group app-page-list__button-group">
                <% if show_up_button(index) %>
                  <%= f.govuk_submit t("forms.form_overview.move_up_html", title: page.position), secondary: true, name: 'move_direction[up]', value: page.id %>
                <% end %>
                <% if show_down_button(index)  %>
                  <%= f.govuk_submit t("forms.form_overview.move_down_html", title: page.position), secondary: true, name: 'move_direction[down]', value: page.id %>
                <% end %>
              </div>

              <%= govuk_link_to edit_question_path(@form_id, page.id) do %>
                <%= t("forms.form_overview.edit") %> <span class="govuk-visually-hidden"><%= page.position %></span>
              <% end %>

            </dd>
          </div>

          <% page.conditions.each do |condition| %>
            <div id="<%= PageListComponent::ErrorSummary::View.error_id(condition.id) %>" class="govuk-summary-list__row app-page-list__row <%= class_names( "govuk-form-group--error": condition.has_routing_errors?) %>">
              <dt class="govuk-summary-list__key govuk-summary-list__key app-page-list__key">
                <%= t("page_conditions.condition_name", page_index: page.position) %>
              </dt>

              <dd class="govuk-summary-list__value">
                <ul class="govuk-list govuk-!-margin-0">
                  <% condition.validation_errors.each do |error| %>
                    <li class="app-page_list__route-text--error">
                      <%= t("page_conditions.errors.page_list.#{error.name}", page_index: page.position) %>
                    </li>
                  <% end %>
                </ul>

                <p>
                  <%= condition_description(condition) %>
                </p>

              <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">
                <%= govuk_link_to show_routes_path(form_id: @form_id, page_id: page.id) do %>
                  <%= t("forms.form_overview.edit_with_visually_hidden_text_html", visually_hidden_text: t("page_conditions.condition_name", page_index: page.position)) %>
                <% end %>
              </dd>
            </div>
          <% end %>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
