
<%if @pages.present?  %>
  <div class="app-page-list">
    <%= form_with url: move_page_url(@form_id), method: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <dl class="govuk-summary-list">
        <% @pages.each_with_index do |page, index| %>
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key app-page-list__key">
              <%= page.position %>
            </dt>

            <dd class="govuk-summary-list__value">
              <%= question_text_with_optional_suffix(page) %>
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">

              <div class="govuk-button-group form-action-group app-page-list__button-group">
                <% if show_up_button(index) %>
                  <%= f.govuk_submit t("forms.form_overview.move_up_html", title: page.position), secondary: true, name: 'move_direction[up]', value: page.id %>
                <% end %>
                <% if show_down_button(index)  %>
                  <%= f.govuk_submit t("forms.form_overview.move_down_html", title: page.position), secondary: true, name: 'move_direction[down]', value: page.id %>
                <% end %>
              </div>

              <%= govuk_link_to edit_page_path(@form_id, page.id) do %>
                <%= t("forms.form_overview.edit") %> <span class="govuk-visually-hidden"><%= page.position %></span>
              <% end %>

            </dd>
          </div>

          <% if FeatureService.enabled?(:basic_routing) %>
            <% page.conditions.each do |condition| %>
              <div id="<%= PageListComponent::ErrorSummary::View.error_id(condition.id) %>" class="govuk-summary-list__row app-page-list__row <%= class_names( "govuk-form-group--error": condition.has_errors?) %>">
                <dt class="govuk-summary-list__key govuk-summary-list__key app-page-list__key">
                  <%= t("page_conditions.condition_name", page_index: page.position) %>
                </dt>

                <dd class="govuk-summary-list__value">
                  <p class="govuk-!-margin-2">
                    <%= t("page_conditions.#{condition.validation_errors.length > 1 || condition.has_errors_for_field?(:answer_value) ? "condition_check_page_text_with_errors" : "condition_check_page_text"}", check_page_text: question_text_for_page(condition.check_page_id)) %>
                  </p>

                  <% if condition.validation_errors.length > 1 %>
                    <ul class="govuk-list govuk-list--bullet">
                      <% condition.errors_with_fields.each do |error| %>
                      <li><%= error_link(error_key: error[:name], edit_link:edit_condition_path(form_id: @form_id, page_id: page.id, condition_id: condition.id), page:, field: error[:field]) %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <%= content_tag(
                      :p,
                      answer_value_text_for_condition(condition, edit_condition_path(form_id: @form_id, page_id: page.id, condition_id: condition.id), page),
                      class: "govuk-!-margin-2"
                      ) %>
                    <%= content_tag(
                      :p,
                      goto_page_text_for_condition(condition, edit_condition_path(form_id: @form_id, page_id: page.id, condition_id: condition.id), page),
                      class: "govuk-!-margin-2"
                      ) %>
                  <% end %>
                </dd>

                <dd class="govuk-summary-list__actions govuk-!-padding-bottom-6">
                  <%= govuk_link_to edit_condition_path(form_id: @form_id, page_id: page.id, condition_id: condition.id) do %>
                    <%= t("forms.form_overview.edit_with_visually_hidden_text_html", visually_hidden_text: t("page_conditions.condition_name", page_index: page.position)) %>
                  <% end %>
                </dd>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
