<% set_page_title(title_with_error_prefix(t('page_titles.archive_form_confirm'), @confirm_archive_form.errors.any?)) %>

<% content_for :back_link, govuk_back_link_to(live_form_path(@confirm_archive_form.form.id), t('back_link.form_view')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @confirm_archive_form, url: archive_form_update_path(@confirm_archive_form.form.id)) do |f| %>
      <% if @confirm_archive_form&.errors.any? %>
        <%= f.govuk_error_summary %>
      <% end %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= @confirm_archive_form.form.name %></span>
        <%= t('page_titles.archive_form_confirm') %>
      </h1>

      <%= t('archive_form.confirm.body_html') %>

      <%= f.govuk_collection_radio_buttons :confirm,
                                           @confirm_archive_form.values, ->(option) { option }, ->(option) { t('helpers.label.confirm_action_form.options.' + "#{option}") },
                                           legend: { text: t('archive_form.confirm.radios_legend'), size: 'm' },
                                           inline: true %>

      <%= f.govuk_submit t("save_and_continue") %>
    <% end %>
  </div>
</div>
