<% set_page_title(title_with_error_prefix(@confirm_deletion_legend, @delete_confirmation_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_url) %>
<%= form_with(model: @delete_confirmation_input, url: @url, method: 'delete') do |f| %>
  <% if @delete_confirmation_input&.errors.any? %>
    <%= f.govuk_error_summary %>
  <% end %>
  <span class="govuk-caption-l"><%= @item_name %></span>
  <%= f.govuk_collection_radio_buttons :confirm,
                                       @delete_confirmation_input.values, ->(option) { option }, ->(option) { t('helpers.label.confirm_action_input.options.' + "#{option}") },
                                       legend: { text: @confirm_deletion_legend, size: 'l', tag: 'h1' },
                                       hint: {text: @confirm_deletion_live_form} %>

  <%= f.govuk_submit %>
<% end %>
