<% set_page_title(title_with_error_prefix(@confirm_deletion_legend, @delete_confirmation_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_url) %>
<%= form_with(model: @delete_confirmation_form, url: @url, method: 'delete') do |f| %>
  <% if @delete_confirmation_form&.errors.any? %>
    <%= f.govuk_error_summary %>
  <% end %>
  <span class="govuk-caption-l"><%= @item_name %></span>
  <%= f.govuk_collection_radio_buttons :confirm_deletion, @confirm_deletion_options, :value, legend: { text: @confirm_deletion_legend, size: 'l', tag: 'h1' } %>
  <%= f.govuk_submit warning: true %>
<% end %>
