<% set_page_title(title_with_error_prefix(t("user_upgrade_request.new.title"), @user_upgrade_request.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(root_path, t("back_link.forms")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @user_upgrade_request, url: user_upgrade_request_path) do |f| %>
      <h1 class="govuk-heading-l"><%= t("user_upgrade_request.new.heading") %></h1>

      <%= f.govuk_error_summary %>

      <%= t("user_upgrade_request.new.body_html") %>

      <%= f.govuk_check_boxes_fieldset :met_requirements, multiple: false, legend: { tag: 'h2', size: 'm' } do %>
        <%= f.govuk_check_box :met_requirements, 1, 0, multiple: false, link_errors: true  %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
