<% set_page_title(t(".title")) %>
<% content_for :back_link, govuk_back_link_to(reports_path, t("reports.back_link")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <h2 class="govuk-heading-m govuk-visually-hidden"><%= t(".heading") %></h2>
    <%= govuk_table do |table| %>

      <%= table.with_head do |head| %>
        <%= head.with_row do |row| %>
          <%= row.with_cell(text: t(".add_another_answer.table_headings.form_name")) %>
          <%= row.with_cell(text: t(".add_another_answer.table_headings.question_text")) %>
          <%= row.with_cell(text: t(".add_another_answer.table_headings.form_state")) %>
        <%end%>
      <%end%>
      <%= table.with_body do |body| %>
        <% data.all_forms_with_add_another_answer.sort_by(&:state).each do |form| %>
          <% form.repeatable_pages.each do |question| %>
            <%= body.with_row do |row| %>
              <%= row.with_cell(text: govuk_link_to(form.name, form_url(form.form_id))) %>
              <%= row.with_cell(text: question.question_text) %>
              <%= row.with_cell(text: form.state.capitalize.gsub("_", " ")) %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>
