<% set_page_title(t(".title")) %>
<% content_for :back_link, govuk_back_link_to(reports_path, t("reports.back_link")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".title") %></h1>

    <h2 class="govuk-heading-m"><%= t(".features.heading") %></h2>
    <%= govuk_summary_list(rows: data[:features_rows]) %>

    <h2 class="govuk-heading-m govuk-visually-hidden"><%= t(".answer_types.heading") %></h2>
    <%= govuk_table(**data[:answer_type_table_data]) %>
  </div>
</div>
