
<% content_for :skip_link do %>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"><%= t("skip_to_main_content") %></a>
<% end %>

<% content_for :header do %>
  <%= render HeaderComponent::View.new(**header_component_options(user:@current_user))%>
<% end %>

<% content_for :before_content do %>
    <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
      <%= t("phase_banner.before_link") %>
      <%= govuk_link_to t("phase_banner.link"), t("phase_banner.feedback_survey_url") %>
      <%= t("phase_banner.after_link") %>
    <% end %>
    <%= yield :back_link %>
    <% if session[:masquerading_user_id].present? %>
      <%= User.find(session[:original_user_id]).name || 'Unnamed super admin' %> [<%= session[:original_user_id] %>] is masquerading as user <%= User.find(session[:masquerading_user_id]).name %> &lt;<%= User.find(session[:masquerading_user_id]).email %>&gt; (<%= @current_user.name %>) (<%= @current_user.role %>) | 
      <%= govuk_link_to 'Stop masquerading', user_masquerade_stop_path %>
    <% end %>
<% end %>

<% content_for :footer do %>
    <% meta_links = {t("footer.accessibility_statement") => "https://www.forms.service.gov.uk/accessibility", t("footer.cookies") => "https://www.forms.service.gov.uk/cookies", t("footer.privacy") => "https://www.forms.service.gov.uk/privacy"} %>
    <%= govuk_footer meta_items_title: t("footer.helpful_links"), meta_items: meta_links %>
<% end %>

<%= render template: "layouts/base" %>
