<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= favicon_link_tag "images/favicon.ico", rel:"shortcut icon", sizes:"16x16 32x32 48x48", type:"image/x-icon" %>
    <%= favicon_link_tag "images/govuk-mask-icon.svg", rel:"mask-icon", color:"#0b0c0c", type: nil %>
    <%= favicon_link_tag "images/govuk-apple-touch-icon-180x180.png", rel:"apple-touch-icon", sizes:"180x180", type: nil %>
    <%= favicon_link_tag "images/govuk-apple-touch-icon-167x167.png", rel:"apple-touch-icon", sizes:"167x167", type: nil %>
    <%= favicon_link_tag "images/govuk-apple-touch-icon-152x152.png", rel:"apple-touch-icon", sizes:"152x152", type: nil %>
    <%= favicon_link_tag "images/govuk-apple-touch-icon.png", rel:"apple-touch-icon", type: nil %>

    <%= stylesheet_link_tag "application" %>

    <meta property="og:image" content="<%= image_path 'images/govuk-opengraph-image.png' %>">
  </head>

  <body class="govuk-template__body ">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"><%= t("skip_to_main_content") %></a>

    <%= render HeaderComponent::View.new(@current_user) %>

    <div class="govuk-width-container ">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        <%= t("phase_banner.before_link") %>
        <%= contact_link(t("phase_banner.link")) %>
        <%= t("phase_banner.after_link") %>
      <% end %>
      <%= yield :back_link %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <% meta_links = {t("footer.accessibility_statement") => "https://www.forms.service.gov.uk/accessibility", t("footer.cookies") => "https://www.forms.service.gov.uk/cookies", t("footer.privacy") => "https://www.forms.service.gov.uk/privacy"} %>
    <%= govuk_footer meta_items_title: t("footer.helpful_links"), meta_items: meta_links %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
