<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" type="image/x-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/favicon.ico"%>" sizes="16x16 32x32 48x48" />
    <link rel="mask-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-mask-icon.svg"%>" color="#0b0c0c" />
    <link rel="apple-touch-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-apple-touch-icon-180x180.png"%>" sizes="180x180" />
    <link rel="apple-touch-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-apple-touch-icon-167x167.png"%>" sizes="167x167" />
    <link rel="apple-touch-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-apple-touch-icon-152x152.png"%>" sizes="152x152" />
    <link rel="apple-touch-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-apple-touch-icon.png"%>" />
    <meta property="og:image" content="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-opengraph-image.png" %>">

    <%= vite_stylesheet_tag 'application.scss' %>
  </head>

  <body class="govuk-template__body ">
    <script>
      if ('noModule' in HTMLScriptElement.prototype) {
        document.body.classList
          .add('js-enabled')
      }
    </script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"><%= t("skip_to_main_content") %></a>

    <%= render HeaderComponent::View.new(**header_component_options(user:@current_user,
                                                                    can_manage_users: @current_user && policy(@current_user).can_manage_user? ))%>

    <div class="govuk-width-container ">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        <%= t("phase_banner.before_link") %>
        <%= contact_link(t("phase_banner.link")) %>
        <%= t("phase_banner.after_link") %>
      <% end %>
      <%= yield :back_link %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <% meta_links = {t("footer.accessibility_statement") => "https://www.forms.service.gov.uk/accessibility", t("footer.cookies") => "https://www.forms.service.gov.uk/cookies", t("footer.privacy") => "https://www.forms.service.gov.uk/privacy"} %>
    <%= govuk_footer meta_items_title: t("footer.helpful_links"), meta_items: meta_links %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </body>
</html>
