<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" sizes="48x48" href="<%= vite_asset_path "#{govuk_assets_path}/images/favicon.ico" %>">
    <link rel="icon" sizes="any" href="<%= vite_asset_path "#{govuk_assets_path}/images/favicon.svg" %>" type="image/svg+xml">
    <link rel="mask-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-icon-mask.svg" %>" color="#0b0c0c">
    <link rel="apple-touch-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-icon-180.png"%>">
    <%# This manifest file and the icons it references are currently being served from the `public` folder. %>
    <%# TODO: update the build to either generate the manifest with references to fingerprinted assets, or automatically copy the manifest and its dependencies to `public`. %>
    <link rel="manifest" href="/icons/manifest.json">
    <meta property="og:image" content="<%= vite_asset_path "#{govuk_assets_path}/images/govuk-opengraph-image.png" %>">

    <%= vite_stylesheet_tag 'application.scss' %>
  </head>

  <%= tag.body(
    class: "govuk-template__body ",
    data: { "google-analytics-enabled": @current_user&.collect_analytics? }
    ) do %>

    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= yield :skip_link %>

    <%= yield :header %>

    <div class="govuk-width-container ">

      <%= yield :before_content %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if success %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <%= govuk_notification_banner(title_text: t("banner.success.title"), success: true) do |nb| %>
                <% nb.with_heading(text: success, tag: yield(:notification_banner_content).present? ? "h3" : "p") %>
                <%= yield :notification_banner_content %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= yield :footer %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <%= yield :body_end %>
  <% end %>
</html>
